@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,600);
.st-content-showcase-scroll.box .item {
	font-family: 'Dosis', sans-serif;
	color: #888;
	-webkit-perspective-origin: 50% 0%;
	-webkit-perspective: 300px;
}
.st-content-showcase-scroll.box .item .inner {
	background: #33475F;
	margin: 20px 0;
	max-height: 100px;
	height: 100px;
	
	-webkit-transform: rotateX(-25deg) translateY(45px) scale(0.9, 0.9);
	-moz-transform: rotateX(-25deg) translateY(45px) scale(0.9, 0.9);
	-ms-transform: rotateX(-25deg) translateY(45px) scale(0.9, 0.9);
	-o-transform: rotateX(-25deg) translateY(45px) scale(0.9, 0.9);
	transform: rotateX(-25deg) translateY(45px) scale(0.9, 0.9);
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.st-content-showcase-scroll.box .item .inner .media {
	width: 200px;
	height: 100px;
	float: left;
	margin: 0 20px 0 0; 
	position: relative;
	overflow: hidden;
}
.st-content-showcase-scroll.box .item .inner .media:after {
	content: '';
	display: block;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity: 0);
}
.st-content-showcase-scroll.box .item .inner .media img {
	width: 200%;
	width: auto;
}
.st-content-showcase-scroll.box .item .inner .media .links {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	z-index: 99;
}
.st-content-showcase-scroll.box .item .inner .media .links a {
	color: #fff;
	font-size: 20px;
	margin: 5px;
}
.st-content-showcase-scroll.box .item .inner .title {
	margin: 0;
}
.st-content-showcase-scroll.box .item .inner .title a {
	color: #fff;
	display: block;
	padding: 10px 0;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
}
.st-content-showcase-scroll.box .item .inner .category {
	text-transform: capitalize;
}
.st-content-showcase-scroll.box .item .inner .title a {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.st-content-showcase-scroll.box .item .inner:hover .title a {
	-webkit-transform: translate(10px, 0);
	-moz-transform: translate(10px, 0);
	-ms-transform: translate(10px, 0);
	-o-transform: translate(10px, 0);
	transform: translate(10px, 0);
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.st-content-showcase-scroll.box .item .inner .media:after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.st-content-showcase-scroll.box .item .inner:hover .media:after {
	opacity: 1;
	filter: alpha(opacity: 100);
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.st-content-showcase-scroll.box .item .inner .media .links a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	
	-webkit-transform: scale(2, 2);
	-moz-transform: scale(2, 2);
	-ms-transform: scale(2, 2);
	-o-transform: scale(2, 2);
	transform: scale(2, 2);
	
	opacity: 0;
	filter: alpha(opacity: 0);
	text-decoration: none;
}
.st-content-showcase-scroll.box .item .inner:hover .media .links a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s 0.2s;
	-ms-transition: all 0.3s 0.2s;
	-o-transition: all 0.3s 0.2s;
	transition: all 0.3s 0.2s;
	
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	
	opacity: 1;
	filter: alpha(opacity: 100);
}
.st-content-showcase-scroll.box .item.in-view .inner {
	-webkit-transform: rotateX(0deg);	
	-webkit-transition: all 0.5s 0.2s;
	-moz-transition: all 0.5s 0.2s;
	-ms-transition: all 0.5s 0.2s;
	-o-transition: all 0.5s 0.2s;
	transition: all 0.5s 0.2s;
}

.st-content-showcase-scroll.box.horizontal .item .inner {
	height: auto;
	max-height: 500px;
	max-width: 300px;
	margin: 20px 30px;
}
.st-content-showcase-scroll.box.horizontal .item .inner .media {
	margin: 0 0 30px;
	width: 300px;
}
.st-content-showcase-scroll.box.horizontal .item .inner .info {
	padding: 0 15px 20px; 
}
