.st-content-showcase-scroll.ring .item .inner .media {
	width: 232px;
	height: 232px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	display: block;
	margin: auto;
	text-align: left;
}
.st-content-showcase-scroll.ring .item .inner .media:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border-radius: 50%;
	background: rgba(247, 208, 106, 0.65);
	opacity: 0;
	filter: alpha(opacity: 0);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 8;
	
	-webkit-transform: scale(0.2, 0.2);
	-moz-transform: scale(0.2, 0.2);
	-ms-transform: scale(0.2, 0.2);
	-o-transform: scale(0.2, 0.2);
	transform: scale(0.2, 0.2);
}
.st-content-showcase-scroll.ring .item .inner .media:hover:after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 1;
	filter: alpha(opacity: 100);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	
}
.st-content-showcase-scroll.ring .item .inner .media img {
	position: absolute;
	width: auto;
	max-width: 200%;
} 
.st-content-showcase-scroll.ring .item .inner {
	text-align: center;
	margin: 30px 0;
}
.st-content-showcase-scroll.ring .item .inner .title {
	margin: 0;
}
.st-content-showcase-scroll.ring .item .inner .title a {
	text-decoration: none;
	font-size: 24px;
	text-transform: capitalize;
	color: #000;
	padding: 15px 0;
	margin: 0;
	display: block;
}
.st-content-showcase-scroll.ring .item .inner .category {
	text-transform: capitalize;
	margin: 5px;
	padding: 3px 5px;
	background: #000;
	color: #ccc;
	display: inline-block;
	border-radius: 3px;
}
.st-content-showcase-scroll.ring .item .inner .links {
	position: absolute;
	top: 45%;
	margin: auto;
	z-index: -1;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0;
	filter: alpha(opacity: 0);
	
	-webkit-transition: all 0.3s 0.3s ease-in-out;
	-moz-transition: all 0.4s 0.2s;
	-ms-transition: all 0.4s 0.2s;
	-o-transition: all 0.4s 0.2s;
	transition: all 0.4s 0.2s;
	
	-webkit-transform: scale(0, 0) rotate(200deg);
	-moz-transform: scale(0, 0) rotate(200deg);
	-ms-transform: scale(0, 0) rotate(200deg);
	-o-transform: scale(0, 0) rotate(200deg);
	transform: scale(0, 0) rotate(200deg);
}
.st-content-showcase-scroll.ring .item .inner .media:hover .links {
	opacity: 100;
	filter: alpha(opacity: 100);
	z-index: 99;
	-webkit-transition: all 0.3s 0.3s ease-in-out;
	-moz-transition: all 0.4s 0.2s;
	-ms-transition: all 0.4s 0.2s;
	-o-transition: all 0.4s 0.2s;
	transition: all 0.4s 0.2s;
	
	-webkit-transform: scale(1, 1) rotate(0deg);
	-moz-transform: scale(1, 1) rotate(0deg);
	-ms-transform: scale(1, 1) rotate(0deg);
	-o-transform: scale(1, 1) rotate(0deg);
	transform: scale(1, 1) rotate(0deg);
}
.st-content-showcase-scroll.ring .item .inner .links a {
	color: #363636;
	font-size: 30px;
	margin: 0 10px;
	text-decoration: none;
	
	-webkit-transition: all 0.3s
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.st-content-showcase-scroll.ring .item .inner .links a:hover {
	color: rgba(255, 184, 0, 1);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s:
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.st-content-showcase-scroll.ring .item {
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s:
	-o-transition: all 0.8s;
	transition: all 0.8s;
	
	-webkit-transform: scale(0.8, 0.8) translate(0, 0);
	-moz-transform: scale(0.8, 0.8) translate(0, 0);
	-ms-transform: scale(0.8, 0.8) translate(0, 0);
	-o-transform: scale(0.8, 0.8) translate(0, 0);
	transform: scale(0.8, 0.8) translate(0, 0);
}
.st-content-showcase-scroll.ring .item.in-view {
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
	
	-webkit-transform: scale(1, 1) translate(0, 0);
	-moz-transform: scale(1, 1) translate(0, 0);
	-ms-transform: scale(1, 1) translate(0, 0);
	-o-transform: scale(1, 1) translate(0, 0);
	transform: scale(1, 1) translate(0, 0);
}
.st-content-showcase-scroll.horizontal > .contain  .item {
	float: left;
	margin: 0 30px;
}
