.st-content-showcase-carousel {
	overflow: visible;
}
.st-content-showcase-carousel .contain > .item {
	float: left;
	background: #fff;
}
.st-content-showcase-carousel .nav {
	margin: 30px auto;
	text-align: center;
	display: block;
	width: 90px;
}
.st-content-showcase-carousel .nav > div {
	height: 38px;
	width: 43px;
	border: 1px solid #ddd;
} 

.st-content-showcase-carousel.nav-topa .nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin-left: auto;
	margin-right: auto;
}
.st-content-showcase-carousel .nav .next, 
.st-content-showcase-carousel .nav .prev {
	cursor: pointer;
	display: block;
	float: left;
	text-indent: -9999px;
	z-index: 10;
	outline: none;
}
.st-content-showcase-carousel .nav > div.prev {
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	position: relative;
	z-index: 0;
	background: url(../images/big-carousel-prev.png) no-repeat center center;
}
.st-content-showcase-carousel .nav > div.next {
	margin-left: -1px;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	position: relative;
	z-index: 0;
	background: url(../images/big-carousel-next.png) no-repeat center center;
}
.st-content-showcase-carousel .nav > div.prev:hover {
	background: url(../images/big-carousel-prev-hover.png) no-repeat center center;
}
.st-content-showcase-carousel .nav > div.next:hover {
	background: url(../images/big-carousel-next-hover.png) no-repeat center center;
}
.st-content-showcase-carousel.nav-top {
	position: relative;
	padding-top: 75px;
}
.st-content-showcase-carousel.nav-top .nav {
	position: absolute;
	top: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.st-content-showcase-carousel .contain .item .inner {
	margin: 0 15px;
	padding: 0;
	display: block;
}
.st-content-showcase-carousel .contain .item .inner .media {
	display: block;
	padding: 6px;
	background-color: #f5f5f5;
	margin-bottom: 10px;
	position: relative;
}
.st-content-showcase-carousel .contain .item .inner .info .title {
	margin: 0;
}
.st-content-showcase-carousel .contain .item .inner .info .title a {
	color: #474747;
	font-size: 14px;
	display: block;
	font-family: 'Open Sans';
	line-height: 20px;
}
.st-content-showcase-carousel .contain .item .inner .info .title a:hover {
	color: #ff5400;
}
.st-content-showcase-carousel .contain .item .inner .info .date {
	font-size: 11px;
	color: #8e8e8e;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	margin-bottom: 3px;
}
.st-content-showcase-carousel .contain .item .inner .info .description,
.st-content-showcase-carousel .contain .item .inner .info .description p {
	color: #474747;
}
.st-content-showcase-carousel .contain .item .inner .media .links a.image {
	display: none;
}
.st-content-showcase-carousel .contain .item .inner .media .links a.link:before {
	content: '';
}
.st-content-showcase-carousel .contain .item .inner .media .links a.link {
	background: url("../images/bg-blog-thumb.png") no-repeat scroll center center / 0 0 rgba(255, 255, 255, 0);
	border: 1px solid rgba(255, 255, 255, 0);
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0;
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;	
}
.st-content-showcase-carousel .contain .item .inner .media:hover .links a.link  {
	background: url("../images/bg-blog-thumb.png") no-repeat scroll center center / 48px 48px rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
	height: 85.5%;
	left: 5%;
	top: 6.5%;
	width: 89%;
}