/**
 * @version 2.5
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 * @copyright (c) 2012 YouTech Company. All Rights Reserved.
 * @author YouTech Company http://www.smartaddons.com
 *
 */
/* --Bootstrap --*/

// Bootstrap mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

/* Variables */
@fontSizeXSmall:         @baseFontSize * 0.95; // ~13px
h1,h2,h3,h4,h5,h6{font-weight: 600;}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    float: left;
    position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	.box-sizing(border-box);
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
// The dropdown menu (ul)
// ----------------------
a:hover{text-decoration: none;}
a:focus,.btn:focus{outline: none;text-decoration: none;}
[class*="col-lg-"].first{margin: 0;}
[class^="fa-"],
[class*=" fa-"] {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon {margin-right: 15px;}
.page-head {border-bottom: 1px solid #EEEEEE;margin: 40px 0 20px;padding-bottom: 9px;}

#editor-xtd-buttons .btn-toolbar{float: left;}
fieldset.adminform{overflow: visible;}
#yt_shorcodes{display: inline-block;position: relative;font-size: 12px;vertical-align: text-top;margin: 10px;float: left;
    .button-shortcodes{
	display: inline-block; padding: 0px 6px;margin-bottom: 0;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.2);
	.border-radius(4px);
	.box-shadow(~"inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)");
	#gradient .vertical(#76B1D3,#659AB9);
	
	// Used nested selector
	&.btn-text{float: left; .border-radius(4px 0 0 4px);}
	&.btn-act{ margin-left: -1px; .border-radius(0 4px 4px 0);}
    }
    span.arrow{
	display: inline-block;
	
	border-bottom: 4px solid #000000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	margin-top: 10px;
    }
    ul{
	background: #FFF;
	display: none;
	position: absolute;
	padding: 3px 0;
	margin: 5px 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	.box-shadow(0 0px 10px rgba(0, 0, 0, 0.2));
	.border-radius(4px);
    }
    // Used nested selector
    &.open{.box-shadow(~"0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05)");
	ul{left: 0;bottom: 26px;width: 410px;display: block;padding: 10px;z-index: 11;
	    li{display: block;padding: 0;margin-bottom: 5px; .box-sizing(border-box);width:33.33%;float: left;.border-radius(3px); line-height: 18px;
		//List icons
		&.item:before{
		    font-family:FontAwesome ;margin: 5px 8px 0 5px;display: inline-block;vertical-align: middle;font-size: 14px;color: #377ba2;
		    width:12px;float: left;
		}
		
		&.item-accordion:before{content: "\f0ca";}
		&.item-spacer:before{content: "\f07d";}
		&.item-blockquote:before{content: "\f10d";}
		&.item-buttons:before{content: "\f0c8";}
		&.item-clear:before{content: "\f08b";}
		&.item-column:before{content: "\f0db";}
		&.item-dropcap:before{content: "\f031";}
		&.item-divider:before{content: "\f068";}
		
		&.item-gallery:before{content: "\f03e";}
		&.item-googlefont:before{content: "\f035";}
		&.item-googlemap:before{content: "\f041";}
		&.item-list:before{content: "\f0cb";}
		&.item-br:before{content: "\f0c4";}
		&.item-lightbox:before{content: "\f065";}
		&.item-message:before{content: "\f071";}
		&.item-pricing:before{content: "\f0ce";}
		
		&.item-icon:before{content: "\f108";}
		&.item-social:before{content: "\f099";}
		&.item-highlighter:before{content: "\f022";}
		&.item-testimonial:before{content: "\f075";}
		&.item-tabs:before{content: "\f07b";}
		&.item-toggle:before{content: "\f0ae";}
		&.item-vimeo:before{content: "V";  font-family: 'SocialicoRegular';font-size: 20px;}
		&.item-youtube:before{content: "X";  font-family: 'SocialicoRegular';font-size: 24px;}
		
		&.item-slideshow:before{content: "\f008";}
		&.item-tooltip:before{content: "\f034";}
		&.item-modal:before{content: "\f01c";}
		
		&.allShortcode{width: 100%;margin: 10px 0; background: transparent !important;box-shadow: none !important;
		    > a{ margin: 0 1em;color: white;text-align: center;border-radius: 3px;padding: 8px;font-size: 13px;background: #3f81a7;
			&:hover{background-color: #6fa8c9;}
		    }
		}
		&:hover{#gradient .vertical(#679dbc,#3f81a7);box-shadow: 0 0 3px rgba(0,0,0,0.3);
		    &:before{color: #fff;}
		    a:hover{text-decoration: none;color: #fff;}
		    
		}
		a{display:block;color: #666;line-height: normal;padding: 5px;}
	    }
	    
	}
    }
}

// 2.Prettify
.modal.fade{visibility:visible;}
ol.linenums {margin: 0 0 0 33px; padding: 0; }
ol.linenums li {padding-left: 12px;color: #bebec5;line-height: 20px;text-shadow: 0 1px 0 #fff;padding: 3px 0 3px 10px;}
ol.linenums li:nth-last-child(odd){background:#FCFCFC;.box-shadow(~"0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(0, 0, 0, 0.05)");}
.bs-docs-example {position: relative;margin: 15px 0;padding: 39px 19px 14px;overflow: hidden;background-color: #fff;border: 1px solid #ddd;.border-radius(4px);}
.bs-docs-example h2.page-header{font-size: 180%;font-weight: bold;border-bottom: 1px solid #ddd;margin: 1.5em 0 1em;padding-bottom: 15px;}
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }
.clear{clear: both;}
.prettyprint {padding: 8px;background-color: #f7f7f9;border: 1px solid #e1e1e8;}
.prettyprint.linenums {.box-shadow(~"inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0");}
.bs-docs-example + .prettyprint {margin-top: -20px;padding: 4px 0 0 8px;margin-bottom: 15px;overflow: hidden;}
.bs-docs-example:after {
  content: "Example";position: absolute;top: -1px;left: -1px;padding: 3px 7px;font-size: 12px;
  font-weight: bold;background-color: #f5f5f5;border: 1px solid #ddd;color: #333333;.border-radius(4px 0 4px 0);
}

/* -- Block Accordion--*/
ul.yt-accordion{margin: 0;list-style: none;padding: 0;
    li.accordion-group{border: 1px solid #d5d5d5;margin-bottom: 5px;background: #fff;.box-sizing(border-box);border-radius: 4px;
        h3.accordion-heading{padding: 5px 8px;margin: 0;line-height: 22px;cursor: pointer;font-size: 13px; #gradient .vertical(#f9f9f9,#e5e5e5);.box-shadow(inset 0 1px 0 #ffffff);.border-radius(4px 4px 0 0);
            .fa-plus-circle{text-align: left;
                &:before{font-size: 14px;}
            }
            
            //Hover & Active Item
            &.active{color:#333;
                .fa-plus-circle{
                    &:before{content: "\f056";}
                }
            }
            &:hover{color:#333;background: #EFEFEF;}
        }
        .accordion-inner {border-top: 1px solid #D5D5D5;background: #fff;.border-radius(0 0 4px 4px);.box-shadow(0 1px 1px 0 rgba(180, 180, 180, 0.1));padding: 9px 15px;}
    }
}
/* -- Block Toggles--*/
ul.yt-toggle-box{margin: 0;list-style: none;padding: 0;
    li{margin-bottom: 10px;
	h3.toggle-box-head{padding: 5px 8px;margin: 0;line-height: 22px;overflow: hidden;cursor: pointer;font-size: 13px; #gradient .vertical(#f9f9f9,#e5e5e5);.box-shadow(inset 0 1px 0 #ffffff);.border-radius(4px );border: 1px solid #ddd;
            span{#translucent .background(#fff,0.5); color: #999;height: 34px;width: 38px;float: right;margin: -6px -10px;display: block;text-align: center;.border-radius(0 4px 4px 0);border-left: 1px solid #E2E2E2;
		&:before{content: "\f077";    font-family: FontAwesome;display: block;vertical-align: middle;font-size: 14px;font-weight: normal;margin-top: 5px;}
	    }
	    i{font-size: 14px;margin-right: 5px;}
	    //Hover & Active Item
	    &.active{color:#333;.border-radius(4px 4px 0 0);
		span{.border-radius(0 4px 0 0);
		    &:before{content: "\f078"; }
		}
	    }
            &:hover{color:#333;background: #EFEFEF;}
        }
	.toggle-box-content{padding: 10px;border: 1px solid #ddd;border-top: none;.box-shadow(0 1px 1px 0 rgba(180, 180, 180, 0.1));.border-radius(0 0 4px 4px)
	
	}
    }
}
/* -- Block Blockquote--*/
.yt-boxquote{font-family: "Segoe UI";font-size: 118%;font-style: italic;line-height: 23px;clear: both;padding: 0 0 0 15px;
    &.pull-left{margin-right: 20px;clear: none;}
    &.pull-right{margin-left: 20px;text-align: right;clear: none;}
    small{font-size: @fontSizeXSmall;
        cite{font-style: italic;}
    }
}

/* -- Block List Style--*/
.yt-list{margin-left: 15px;padding: 0;
    &.type-check,
    &.type-arrow,
    &.type-star,
    &.type-disc ,
    &.type-circle{ list-style: none;margin: 0 0 15px;
        li{ padding: 0;
	    &:before{ font-family: FontAwesome; content: "\f00c";margin-right: 7px;font-size: 13px; }
	    > span{color: #666;}
	}
    }
    &.type-arrow li:before{content: "\f0da";margin-right: 10px; }
    &.type-star  li:before {content: "\f005";margin-right: 10px; font-size: 11px;}
    &.type-disc  li:before {content: "\f111";margin-right: 10px; font-size: 6px;vertical-align: middle;}
    &.type-circle li:before {content: "\f10c";margin-right: 10px;font-size: 8px;vertical-align: middle; }
    
    &[class*="type-smallnumber"]{list-style: none;margin: 0; counter-reset: section;
        > li{list-style: none;padding-left: 30px;line-height: 20px;margin-bottom: 5px;clear: both;
            &:before{
                counter-increment:section;
                content:counter(section);
                width:20px;height: 20px;margin: 0 10px 15px -30px;
                font-size: 11px;line-height: 19px;text-align: center;
                color: #fff;background: #666;font-weight: bold;
                float: left;
                .border-radius(20px);.box-shadow(0 0 8px rgba(0,0,0,0.4) inset);
            }
        }
    }
    &.type-smallnumber2{
        > li:before{background: #67AFD7;}
    }
    &.type-smallnumber3{
        > li:before{background: #FAA732;}
    }
    &.type-smallnumber4{
        > li:before{background: #DA4F49;}
    }
    &.type-smallnumber5{
        > li:before{background: #6EAD18;}
    }
    &.type-smallnumber6{
        > li:before{background: #e1d904;}
    }
   
    &[class*="type-numblocks"]{list-style: none;margin: 0; counter-reset: section;
        > li{list-style: none;padding-left: 45px;line-height: 25px;margin-bottom: 10px;clear: both;
            &:before{
                counter-increment:section;
                content: "0" counter(section);
                width:35px;height: 35px;margin: 5px 10px 15px -45px;
                font-size: 20px;line-height: 35px;text-align: center;
                color: #ccc;border: 3px solid #ccc;
                float: left;
                border-radius: 35px;
            }
        }
    }
    &.type-numblocks2{
        li:before{border-color: #363636; color: #363636;}
    }
    &.type-numblocks3{
        li:before{border-color: #F7683A; color: #F7683A;}
    }
    
    &.type-decimal{list-style-type:decimal;}
    &.type-square {list-style-type:square;

    }
    &.type-roman  {list-style-type:upper-roman;}
    &.type-decimal{list-style-type:decimal;}
    &.type-alpha  {list-style-type:upper-alpha;}
    
    
}
/* -- Block List Icon--*/
div.rsContent{
    .item{color: white;padding: 20px; position: relative;overflow: hidden;
        h3{font-size: 2.14286em;font-weight: 700;line-height: 1.2em;margin: 0;}
        p{  font-size: 1.28571em;line-height: 1.4em;margin: 0;}
    }
    .box-members{background-color: #E56C19;}
    .box-apps {background-color: #83BA1F;}
    .box-leads {background-color: #2673EC;}
}
ul.the-icons{list-style:none;padding:0;margin:0;
    li{.border-radius(5px);cursor: pointer;height: 32px;line-height: 32px;padding-left: 5px;background: #f3f3f3;margin-bottom: 10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; .transition(all 0.5s ease-in-out);
        [class^="icon-"],
        [class*=" icon-"]{font-size: 14px;width: 32px;.transition(all 0.2s ease-in-out);}
        &:hover{background-color: #83BA1F;color: #fff;.transition(all 0.01s ease-in-out); .scale(1.1);
            [class^="icon-"],
            [class*=" icon-"]{color: #fff;font-size: 24px;vertical-align: -5px;}
        }
    }
}
/* -- Block Buttons--*/
.btn { 
    [class^="icon-"]{margin-right: 5px;}
     .btn-3d-active{
	   border-width: 0; margin-bottom: 0; padding: 3px 21px; vertical-align:-12px; .border-radius(3px); 
     }
    &.btn-flat{
        font-size: 17px; color: #fff;
        height: 38px;line-height: 38px; margin: 0 0 15px; padding: 4px 35px; 
        outline: 0 none;  text-transform: capitalize;
        border:none;text-shadow: none;
        background: #B3B8BC ;.box-sizing(content-box); border-radius: 0;.box-shadow(~"0 -3px #A6AAAD inset");
        
		&:hover{background: lighten(#B3B8BC,2%);}
		&:active{margin: 1px 0 14px;}
		
		&.primary{background: #1ABC9C;.box-shadow(~"0 -3px #18AD8F inset");
			&:hover{background: lighten(#1ABC9C,2%);}
		}
		
          &.success {background: #2ECC71;.box-shadow(~"0 -3px #27BC65 inset");
			&:hover{background: lighten(#2ECC71,5%);}
		}
        
		&.warning {background: #E8BD14;.box-shadow(~"0 -3px #D8AD11 inset");
			&:hover{background: lighten(#E8BD14,5%);}
		}
		
          &.inverse{background: #34495E;.box-shadow(~"0 -3px #2A3F54 inset");
			&:hover{background: lighten(#34495E,5%);}
		}
		
		&.info{background: #3498DB;.box-shadow(~"0 -3px #2B8DCE inset");
			&:hover{background: lighten(#3498DB,5%);}
		}
		
		&.danger{background: #E74C3C;.box-shadow(~"0 -3px #D83D2F inset");
			&:hover{background: lighten(#E74C3C,5%);}
		}
        
     }
}


/* -- Block Colums--*/
.yt-show-grid{margin-bottom: 20px;
    [class*="col-lg"] {line-height: 40px;min-height: 40px;text-align: center;.border-radius(3px);   }
}


/* -- Block Dropcap --*/
.yt-dropcap{display: block;float: left;line-height: 100%;margin: -1px 15px 0 0;font-size: 5em;
    &.square {margin: 5px 15px 0 0;padding: 0 5px;}
    &.round {margin: 5px 15px 0 0; padding: 5px 5px 0;.border-radius(15px 0 15px 0);}
}

/* -- Block Gallery --*/
@keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}
@-webkit-keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}
@-o-keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}
.yt-gallery{
    .gallery-title{margin: 0 8px 10px ;font-size: 150%;}
    ul{margin: 0;padding: 0;width: 100%;list-style: none;
	li{float: left;margin: 0;.box-sizing(border-box);
	    .item-gallery{position: relative; padding: 8px;
		a{ display: block;position: relative;overflow: hidden;
		    h3.item-gallery-title{font-size: 14px;margin: 0;font-weight: normal;padding: 5px 15px 5px 10px;color: #fff;position: absolute;left: -105%;bottom: 10px;z-index: 9;width: 85%; line-height: 22px;
			background: rgba(0,0,0,0.7);.transition(all 0.3s ease-in-out 0s);.box-sizing(border-box);
		    }
		    .image-overlay{position: absolute;z-index: 3;left: 0;top:0;width: 100%;height: 100%; .opacity(100);background: transparent;}
		    img{width:100%;}
		}
		.item-gallery-hover{
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    opacity: 0;
		    transition: opacity 0.3s ease;
		    background-size: 30px 30px;
		    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
		    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
		    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
		    background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
    
		    animation: barberpole 0.5s linear infinite;
		    -moz-animation: barberpole 0.5s linear infinite; /* Firefox */
		    -webkit-animation: barberpole 0.5s linear infinite; /* Safari and Chrome */
		    -o-animation: barberpole 0.5s linear infinite; /* Opera */
		}
		 //Hover Item
		&:hover{
		    .item-gallery-hover{.opacity(100);}
		    h3.item-gallery-title{left: 0;}
		   
		}
	    }
	   
	}
	 //Not(hover) Item
	&:hover
	    li{
		.item-gallery a:not(:hover){
		     .image-overlay{#translucent .background(@black,0.4);.box-shadow(0 0 30px rgba(0,0,0,0.8) inset);}
	    }
	    
	}
    }
}

div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000;}


div.pp_default .pp_gallery ul li a {
    background: url("../images/prettyPhoto/default/default_thumb.png") repeat scroll center center #F8F8F8;
    border: 1px solid #AAAAAA;
}

.pp_default {
    .ppt{color:#fff;text-align: center;display:none;font-size:145%;margin:0 0 5px 15px;z-index:9999;}
    .pp_top{height: 13px;
	.pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat;}
	.pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x;}
	.pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat;}
    }
    .pp_content_container{background: #fff;padding: 10px;border: 5px solid #262626;.border-radius(7px);position: relative;
	.pp_content{min-height: 40px;overflow: hidden;
	    .pp_fade{display: none;}
	    .pp_loaderIcon{display:block;height:24px;left:50%;margin:-12px 0 0 -12px;position:absolute;top:50%;width:24px;background:url(../images/prettyPhoto/default/loader.gif) center center no-repeat}
	    .pp_expand,.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:10px;text-indent:-10000px;top:10px;width:20px;z-index:20000;
		background:url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;height:28px;width:28px;
		&:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;}
	    }
	    .pp_contract{background:url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;height:28px;width:28px;
		&:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;}
	    }
	    
	    .pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000;
		a.pp_next{background:url(../images/prettyPhoto/default/sprite_next.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%;
		    &:hover{background:url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
		}
		a.pp_previous{background:url(../images/prettyPhoto/default/sprite_prev.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%;
		    &:hover{background:url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;}
		}
	    }
	    .pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000;
		.pp_arrow_previous,
		.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px;
		    left: auto;position: static;background:url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;margin:4px 0 0;width:20px;
		}
		.pp_arrow_next{ background-position: -82px -3px;left: 52px;}
		div{float:left;overflow:hidden;position:relative;
		    ul{float:left;height:35px;margin:0 0 0 5px;padding:0;position:relative;white-space:nowrap;
			li{display:block;float:left;margin:0 5px 0 0;padding:0;
			    a{border:1px rgba(0,0,0,0.3) solid;display:block;float:left;height:30px;overflow:hidden;.opacity(60);.transition(all 0.3s ease-in-out 0s);
				&:hover{.opacity(100);}
			    }
			}
		    }
		}
	    }
        ul li a {
            background: url("../images/prettyPhoto/default/default_thumb.png") repeat scroll center center #F8F8F8;
            border: 1px solid #AAAAAA;
            display: block;
            width: 50px;
        }
	    .pp_details{margin:10px 0 5px;position: relative;float: left;
		.pp_nav{clear:none;height:30px;position:relative;width:110px;float: left;
		    .pp_play,.pp_pause{ height: 30px;width: 30px;float:left;margin-right:4px;text-indent:-10000px;background:url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;}
		    .pp_play{height:30px;width:30px;
			 &:hover{.opacity(70);}
		    }
		    .pp_pause{background-position:-51px -29px;
			 &:hover{.opacity(70);}
		    }
		    
		    .pp_arrow_previous,
		    .pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px;
			background:url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;margin:4px 0 0;width:20px;
			&:hover{.opacity(70);}
		    }
		    .pp_arrow_next{background-position:-82px -3px;left:52px;}
		    .currentTextHolder{color:#999;font-family:Georgia;font-size:95%;font-style:italic;left:75px;line-height:25px;margin:0;padding:0 0 0 10px;position:absolute;top:2px;}
		}
		.pp_description{font-size:95%;font-weight:700;margin:5px 50px 5px 0px;height: 30px;margin:5px 50px 5px 15px;display: inline-block;}
		.pp_close{display:block;line-height:22px;position:absolute;right:0;text-indent:-10000px;top:0;
		    background:url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer;height:30px;width:30px;
		    &:hover{.opacity(70);}
		}
	    }
	}
    }
    .pp_bottom{height: 13px;}
}

/* -- Block Lightbox --*/
ul.thumbnails > li{margin-bottom: 10px !important;}

#yt-lightbox:after{background: -moz-element(~"#yt-lightbox");}
#yt-lightbox1:after{background: -moz-element(~"#yt-lightbox1");}
#yt-lightbox2:after{background: -moz-element(~"#yt-lightbox2");}
#yt-lightbox3:after{background: -moz-element(~"#yt-lightbox3");}
#yt-lightbox4:after{background: -moz-element(~"#yt-lightbox4");}
#yt-lightbox5:after{background: -moz-element(~"#yt-lightbox5");}
#yt-lightbox6:after{background: -moz-element(~"#yt-lightbox6");}
#yt-lightbox7:after{background: -moz-element(~"#yt-lightbox7");}

.yt-lightbox{margin: 0 20px 20px 0;z-index: 5;overflow: hidden;display:block;
  
    &.image-left{float: left;}
    &.image-right{float: right;margin: 0 0 20px 20px;}
    &.no-border{padding: 0;border: none;}
    &.image-none{margin: 0 0 10px ;display: inline-block;}
    
    //Style Images Lightbox
    &.border{padding: 5px;background: #FCFCFC;border: 1px solid #ddd;}
    &.borderInner{position: relative;z-index: 1;
		.transparent-border{position: absolute;content: "";top: 0;border: 5px solid rgba(0,0,0,0.2);z-index: 2;width: 100%;height: 100%;.box-sizing(border-box);}
    }
    &.shadow{box-shadow: 0 15px 10px -13px rgba(0, 0, 0, 0.5);}
    &.reflect{height: 100%;position: relative;z-index: 1;overflow: visible;
		&:after{
			content: "";
			position: absolute;
			left: 0;top: 100%;width: 100%;height: 100%;
			mask: url("../images/mask.svg#light");
			opacity: 0.8;
			pointer-events: none;
			transform: scaleY(-1);
			
		}
     }
     
	
    a{min-height: 80px;min-width: 80px; margin: 0;padding: 0;border: none;width:auto;display: block;  position: relative;left: auto;top: auto;right: auto;overflow: hidden;z-index: 1;.border-radius(0); .box-shadow(none);
        h3.img-title{ position: absolute;bottom: -10%;left: 0;width:100%; padding: 8px 10px;margin: 0;font-size: 12px;color: #eee;.opacity(0);line-height: 18px;
            background: rgba(0,0,0,0.6);    .box-sizing(border-box);.transition(all 0.3s ease );
        }
        &:hover{
            h3.img-title{bottom: 0;.opacity(100);
            }
        }
	img{width: 100%;}
    }
}

/* -- Block Message Box  --*/
.alert{
    .alert-heading{font-size: 130%;margin-bottom: 8px;}
    .close{top:-5px;background: transparent !important; font-size: 14px;}
    &.alert-error {background: #FCC8C7;border-color: #FCB0B0;}
}

/* -- Block Social Buttons --*/
div.yt-socialbt{display: inline-block;margin-right: 12px;
    a{   color:#666;
         width: 32px;height: 32px;text-align: center;
		text-decoration: none;
		line-height: 31px;
		white-space: nowrap;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		background-color: #ececec;
		border: solid 1px #b8b8b9;
	.transition(all 0.25s ease-in-out 0s);
	.box-shadow( ~"inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.1)");.border-radius(5px);
        
        // Hover Link
        &:hover{ background-color: #E2E2E2;}
        &:focus{ .box-shadow( ~"inset 0 1px 3px rgba(0,0,0,.3), 0 1px 0 rgba(0,0,0,.1)");}
        
        i{font-size: 20px ;line-height: 100%;margin: 0;vertical-align: middle;}
        span{margin-left: 5px;vertical-align: top;font-size: 14px;}
        
        // Size 
        &.small {width: 26px;height: 26px;line-height: 26px;
            > i{font-size: 18px;}
        }
        &.large{width: 40px;height: 40px;line-height: 40px;
            > i {font-size: 28px;}
        }
        
        /* min style */
        &.min{width:auto;background-color: transparent;border: none;.box-shadow(none);}
        &.cicle{ .border-radius(32px);}
        &.flat{ .border-radius(0);} 
        &.color{color: #fff;border: 1px solid rgba(0, 0, 0, 0.25); .box-shadow(~"inset 0 1px 0 rgba(255, 255, 255, 0.3) , 1px 1px 2px rgba(0, 0, 0, 0.3)");
            &.facebook{background-color: #3c5a9a;}
            &.twitter{background-color: #2daae0;}
            &.google-plus{background-color: #ee4f2f;}
            &.pinterest{background-color: #ca1f27;}
            
            &.dribbble{background-color: #e94d8a;}
            &.deviantart{background-color: #52665a;}
            &.behance{background-color: #309dd5;}
            &.flickr{background-color: #ff0086;}
            
            &.linkedin{background-color: #1b5690;}
            &.stumbleupon{background-color: #ec4822;}
            &.rss{background-color: #ec4822;}
            &.skype{background-color: #01afee;}
            
            &.tumblr{background-color: #2a445d;}
            &.youtube{background-color: #ff3033;}
            &.vimeo{background-color: #44b0df;}
            
        }
        &.text{padding: 0 10px;width: auto;}
    }
}

/* -- Block Togglable tabs --*/
div.yt-tabs{
    ul.nav-tabs{list-style: none;margin:0; padding: 0 5px;border-bottom: none;border-bottom: 1px solid #ddd;
        li{ overflow: hidden;max-width: 300px;padding: 0;
            a{margin-right:5px;padding: 8px 25px;display: block;border: 1px solid #ddd;background: #F7F6F6;font-size: 13px;color: #666;font-weight: bold;line-height: 20px; text-transform: capitalize;.text-overflow(); .border-radius( 0);.box-shadow(0 0 8px rgba(0, 0, 0, 0.06) inset);
                &:hover{color: #000;}
		&.active{border-bottom-color:#fff; background: #fff;.box-shadow(none);}
            }
            
        }
    }
    div.tab-content{padding: 10px 5px;overflow: visible;.box-sizing(border-box);
        > div{display: none;
            &.active{display: block;}
        }
    }
    // Custom Style
    &[class*="style"]{
	ul.nav-tabs{margin: 0 5px;border-bottom: 3px solid #85B24E;
	    li{margin-bottom: 0;
		a{  padding: 4px 20px 6px;
		   &.active{border-color: #7BA543;border-bottom-color:#85B24E; background: #85B24E;color: #fff;text-shadow: none;.box-shadow(~"0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 13px 5px rgba(255, 255, 255, 0.25) inset");} 
		}
	    }
	}
	div.tab-content{padding: 1em 0 ;border: none;}
    }
    &.style-blue{
	ul.nav-tabs{border-bottom-color: #61A5CA;
	    li{
		a.active{background: #61A5CA;border-color:#61A5CA;}
	    }
	}
    }
    &.style-black{
	ul.nav-tabs{border-bottom-color: #626262;
	    li{
		a.active{background: #626262;border-color:#626262;}
	    }
	}
    }
    
    &.style-red{
	ul.nav-tabs{border-bottom-color: #E02C26;
	    li{
		a.active{background: #E02C26;border-color:#E02C26;}
	    }
	}
    }
    
    &.style-oranges{
	ul.nav-tabs{border-bottom-color: #E2A738;
	    li{
		a.active{background: #E2A738;border-color:#E2A738;}
	    }
	}
    }
    // Tabs Vertical
    &.vertical{margin-left: 120px;clear: both;
	ul.nav-tabs{float: left;width:120px;margin-left: -120px;border: none;padding: 0;
	    li{float: none;margin-bottom: 10px;display: block;overflow: visible;
		a{margin: 0;padding: 6px 10px;border: none;text-align: left;background: none;position: relative;.box-shadow(none);overflow: visible;
		    
		    &.active{background: #606060;color: #fff;.box-shadow(none);
		    &:before{
			    border-bottom: 16px solid transparent;
			    border-left: 16px solid #606060;
			    border-top: 16px solid transparent;
			    content: ""; height: 0;width: 0;position: absolute;top: 0;right: -15px;
			}
		    }
		   
		}
	    }
	}
	div.tab-content{width:100%;border:none; padding: 0 0 0 40px;.box-sizing(border-box);}
	
	// Custom Style
	&.style-green{
	    ul.nav-tabs{
		li{
		    a{
			&.active{background: #85B24E;}
			&:before{ border-left: 15px solid #85B24E;}
		    }
		}
	    }
	}
	
	&.style-blue{
	    ul.nav-tabs{
		li{
		    a{
			&.active{background: #61A5CA;}
			&:before{ border-left: 15px solid #61A5CA;}
		    }
		}
	    }
	}
	
	&.style-red{
	    ul.nav-tabs{
		li{
		    a{
			&.active{background: #E02C26;}
			&:before{ border-left: 15px solid #E02C26;}
		    }
		}
	    }
	}
	
	&.style-oranges{
	    ul.nav-tabs{
		li{
		    a{
			&.active{background: #E2A738;}
			&:before{ border-left: 15px solid #E2A738;}
		    }
		}
	    }
	}
    }
}

/* -- Block Testimonial  --*/
.yt-testimonial{border-left: 0;padding: 0;margin: 0 0 0 60px;position: relative;
    &:before{font-size: 16px;font-family: 'FontAwesome';content: "\f10d";color: #ccc;font-size: 42px;position: absolute;top:15px;left: -60px;}
    p{font-family: Georgia,"Times New Roman",serif;font-style: italic;font-size: 15px;line-height: 22px;display: inline;color: #666;}
    small{font-size: 12px;margin-top: 15px;text-align: right;color: #666;
        &:before{content: "";height: auto;display: none;}
        i{margin-right: 5px;}
        cite{font-weight: normal;color: #999;}
    }
    &.tm-avatar{margin: 0 0 100px;border:1px solid #ddd;border-top: 3px solid #666;padding: 10px;
        &:before,&:after{content: "";
	    border-width: 8px ;
	    border-color: #ccc transparent transparent #ccc;
            border-style: solid;
            height: 0;
            left: 26px;
            margin-top: -8px;
            position: absolute;
            bottom: -16px;
	    top: auto;
            width: 0;
        }
        &:after{content: "";  border-color: #fff transparent transparent #fff;left: 27px;}
        .testimonial-avatar{width:90%;height: 50px;position: absolute;left: 0px;bottom: -70px;z-index: 1;
	    img{max-height: 100%;margin-right: 10px;.border-radius(50px);float: left;border: 1px solid #666;}
	}
        small{text-align: left;display: inline-block;font-size: 13px;font-weight: bold;
            .icon-user{display: none;
		&:before {content: ""; font-family: inherit;height: auto;}
	    }
	    
        }
    }
   
    // Style Testimonials
    &.green{border-top-color: #6EAD18;
	small{color: #6EAD18;  }
    }
    
    &.red{border-top-color: #DA4F49;
	small{color: #DA4F49;}
    }
    
    &.blue{border-top-color: #67AFD7;
	small{color: #67AFD7;  }
    }
    
    &.oranges{border-top-color: #FAA732;
	small{color: #FAA732;}
    }
}

/* -- Block Vimeo  --*/
.yt-vimeo{background: #222;overflow: hidden;.box-shadow(~"0 35px 10px -25px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset");
    &.pull-none{margin-bottom: 2em;}
    &.pull-left{margin: 0 1em 1em 0;}
    &.pull-right{margin: 0 0 1em 1em;}
    iframe{border: none;float: left;}
}

/* -- Block Watch Youtube  --*/
div.yt-youtube{.yt-vimeo();
    iframe{border: none;}
    
}

/* -- Block Divider  --*/
div.yt-divider{border-top: 1px solid #D6D6D6;height: 1px;clear: both;width: 100%;
    &.line{height: 3px;background: #F4F4F4;border-top-color: #DBDBDB;}
    &.dotted{height: 1px;background: url("../images/dotted.png") repeat-x 0 0;border: none;}
    &.shadow{height: 5px;background: url("../images/shadow.png") no-repeat 0 0;border: none;background-size: 100% auto;}
    &.stripes{height: 6px;background: url("../images/stripes.png")  0 0;border: none;}
}

/* -- Block Googlemap  --*/
.yt-gmap{
    &.pull-left{margin: 0 1em 1em 0;}
    &.pull-right{margin: 0 0 1em 1em;}
    img{max-width: none;}
}
/* -- Block Pricing Tables   --*/
div.yt-pricing{margin-bottom: 20px;
    &:after{clear: both;display: table;width: 100%;content: "";}
    // Style Pricing table
    &.pricing-red{
        .column {
            div.pricing-basic{color: #eee;#gradient .vertical(#c43d3d,#a72323); border-bottom: 1px solid #810000; }
            div.pricing-money{#gradient .vertical(#b93636,#a62222);border-top-color: #d04848;border-bottom: 1px solid #8f1d1d;
                h2{color: #fff;}
                h4{color: #ddd;}
            }
            ul.pricing-list{
                li{
                    [class^="icon-"],
                    [class*=" icon-"]{color: #b73535;}
                }
            }
        }
    }
    &.pricing-blue{
        .column {
            &:nth-child(1){
                div.pricing-basic{background: #52b5d5;}
                div.pricing-money{background: #64c3de;}
            }
            &:nth-child(2){
                div.pricing-basic{background: #3591ca;}
                div.pricing-money{background: #44a3d5;}
            }
            &:nth-child(3){
                div.pricing-basic{background: #1f5f9f;}
                div.pricing-money{background: #2972b0;}
            }
            &:nth-child(4){
                div.pricing-basic{background: #1a3e7b;}
                div.pricing-money{background: #234e8e;}
            }
            &:nth-child(5){
                div.pricing-basic{background: #1a3e7b;}
                div.pricing-money{background: #234e8e;}
            }
            div.pricing-basic{border: none;color: #fff;}
            div.pricing-money{border: none;
                h2{color: #fff;}
                h4{color: #eee;}
            }
            ul.pricing-list{
                li{
                    [class^="icon-"],
                    [class*=" icon-"]{color: #44a3d5;}
                }
            }
        }
    }
    &.pricing-green{
	
        .column {
            &:nth-child(1){
                div.pricing-basic{#gradient .vertical(#9ec360,#77a946);border-bottom-color: #5e9737;}
                div.pricing-money{#gradient .vertical(#9ec35d,#77a946);border-top-color: #c9dd95;}
            }
            &:nth-child(2){
                div.pricing-basic{#gradient .vertical(#7db447,#5f9836);border-bottom-color: #487d29;}
                div.pricing-money{#gradient .vertical(#7db447,#5f9836);border-top-color: #a8d065;}
            }
            &:nth-child(3){
                div.pricing-basic{#gradient .vertical(#5caa34,#468928);border-bottom-color: #356a1e;}
                div.pricing-money{#gradient .vertical(#5caa34,#468928);border-top-color: #99d458;}
            }
            &:nth-child(4){
                div.pricing-basic{#gradient .vertical(#439a28,#34791f);border-bottom-color: #275c17;}
                div.pricing-money{#gradient .vertical(#439a28,#34791f);border-top-color: #6ac73e;}
            }
            &:nth-child(5){
                div.pricing-basic{#gradient .vertical(#439a28,#34791f);border-bottom-color: #275c17;}
                div.pricing-money{#gradient .vertical(#439a28,#34791f);border-top-color: #6ac73e;}
            }
            div.pricing-basic{color: #fff;}
            div.pricing-money{
                h2{color: #fff;}
                h4{color: #fff;font-size: 15px;text-transform: capitalize;}
            }
            ul.pricing-list{
                li{
                    [class^="icon-"],
                    [class*=" icon-"]{color: #4e982c;font-size: 16px;}
		    .gray{color: #999;}
                }
            }
        }
    }
    .column{background: #fff;text-align: center;position: relative;z-index: 1;float: left;
        &:nth-child(2n+1){background: #f6f6f6;}
        &:hover{}
        
        // Colum Pricing Tables 
        &.span4{margin: 0;width:33.333%;}
        &.span3{margin: 0;width:25%;}
        &.span2{margin: 0;width:20%;}
        &.featured{.scale(1.06); .transition( all 0.2s ease-in-out 0s);.box-shadow(0 0 8px rgba(0,0,0,0.5));z-index: 5;
            .pricing-basic{
                span{background: url(../images/featured.png) no-repeat right top;}
            }
        }
        
        .pricing-basic{
	    font-family: "trebuchet MS";height:45px;line-height: 45px;font-weight: normal;background: #2b2b2b;
	    font-size: 18px;color: #a3a3a3;color: rgba(255, 255, 255, 0.8);border-bottom: 1px solid #1a1a1a; 
            #gradient .vertical(#414141,#2b2b2b);
            span{display: block;.text-overflow();}
        }
        div.pricing-money{height: 110px;overflow: hidden;border-top: 1px solid #434343;margin: 0;#gradient .vertical(#353535,#1f1f1f);text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
            h2{margin: 20px 0 0;padding: 0 10px;line-height: 100%;font: 600 46px/46px Arial,Helvetica,sans-serif;color: #2CB4C9;.text-overflow();}
            h4{display: block;color: #8a8a8a;text-transform: capitalize;font-size: 120%;}
	    
        }
        ul.pricing-list{list-style: none;margin: 0;padding: 0;
            li{padding: 8px 10px;font-size: 13px;
                &:nth-child(2n+1){#translucent .background(#000,0.05);}
                [class^="icon-"],
                [class*=" icon-"]{float: left;color: #2CB4C9;}
            }
           
        }
        .pricing-bottom{padding: 15px 0;border-bottom: 2px solid #404040;border-top: 1px solid #d3d3d3;#gradient .vertical(#F5F5F5,#CCCCCC);
            a.signup{padding: 5px 0;min-width:120px;display: inline-block;border: 1px solid #bebebe;color: #444;font-weight: bold;
                    #gradient .vertical(#f0f0f0,#d8d8d8);.box-shadow(0 1px 0 rgba(255,255,255,0.5));.border-radius(3px);text-shadow: 1px 1px 0 #fff;
                &:hover{#gradient .vertical(#d7d7d7,#bdbdbd);border: 1px solid #ababab;}
            }
        }
        
    }
}

/* -- Block  Syntax Highlighting    --*/
.highlighter{margin-top: 31px;
    &.prettyprint{border-radius:0;border: none;position: relative;}
    &.prettyprint[class*=" linenums:"]{.box-shadow(~"37px 0 0 #DBE1E7 inset, 40px 0 0 #95A7B9 inset");.border-radius(0);border: none;position: relative;}
    &:before{
	width: 100%;background: #A5B5C6;border-bottom: 1px solid #95A7B9;
	content: attr(title);position: absolute;top:-31px;right: 0;z-index: 1;padding: 5px 12px;
	color: #fff;font-weight: bold;text-transform: uppercase;font-size: 18px;.box-sizing(border-box);
    }
}
/* -- Block Modal    --*/
.yt-modal{
    &.modal{overflow: hidden;display: none;border: none;box-shadow: none;background: transparent;}
    
     .modal-content{box-shadow: none;border: 8px solid rgba(255, 255, 255, 0.25);top: 50px;
	.modal-header {background: #eee;border-bottom: 1px solid #ddd;
	    h3{margin: 0;font-size: 20px;display: inline-block;}
	}
	.modal-body{background: @white;}
    }
}
/* -- Block  Slider Carousel    --*/
div.yt-slider-carousel{z-index: 2;overflow: hidden;
    &.pull-left{margin: 0 30px 30px 0;}
    &.pull-right{margin: 0 0px 30px 30px;}
    &.pull-none{display: inline-block;margin: 0 0 30px 0;}
    .carousel-inner{position: relative;z-index: 2;}
    .carousel-control{
	background: rgba(225,255,255,0.8);border: none;border-radius: 0;z-index: 3;margin: 0;height: 40px;width: 40px;margin-top: -20px;color: #ADADAD;
	box-shadow: none;line-height: 35px;text-shadow: none;border-radius: 3px;box-shadow: 0 0 3px rgba(0,0,0,0.3);.opacity(100);top: 50%;
	.transition(all 0.4s ease-out 0s);
	
	&.left{left: -150px; }
	&.right{right: -150px;}
	i{display: block;line-height: 40px;margin: 0;font-size: 26px;}
    }
    .carousel-caption{
	position: absolute;left: 0;right: 0;bottom: 0;z-index: 2;padding: 13px 15px;background: rgba(0, 0, 0, 0.35);text-align: left;
	text-shadow: none;
	h4{margin: 0 0 6px;}
	p{margin: 0;}
    }
    
    //Hover Item Slider
    &:hover{
	.carousel-control{
	    &:hover{background: @white;color: #777;}
	    &.right{right: 35px;}
	    &.left{left: 35px;}
	}
    }
}

/* -------------------------
    Responsive Short Code
---------------------------*/

/*-- Tablet portrait (768x1024) && Small tablet landscape (800x600) --*/
@media (min-width: 768px) and (max-width: 979px) {
    /* Block Lightbox*/
    .yt-lightbox{display: block;}
    div.yt-vimeo iframe,
    div.yt-youtube iframe{width:100%;height: 300px;}
    div.yt-slider-carousel.pull-none{display: block;}
}


/* Small tablet portrait (600x800) & Mobile landscape (480x320) */
@media (max-width: 767px){
   div.yt-tabs{
	ul.nav-tabs {
	    li{width: 50%;
		a{margin-right: 0;}
	    }
	}
    }
    div.yt-vimeo iframe,
    div.yt-youtube iframe{width:100%;height: 200px;}
    div.yt-pricing {
	.column.span3,
	.column.span4{width: 100%;}
    }
    .yt-vimeo,
    .yt-youtube{width: 100%; float: none !important;margin: 0 0 1em !important;}
    .yt-gmap{width: 100% !important;float: none;}
    .btn{.text-overflow();max-width: 220px;}
    div.yt-slider-carousel{
		&.pull-none{display: block;}
		&.pull-left,&.pull-right{float: none;}
    }
}
@media (max-width: 320px){
    .yt-testimonial.tm-avatar small{width:77%;margin-top: 0;}
}
