/**
 * @version 2.5
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 * @copyright (c) 2012 YouTech Company. All Rights Reserved.
 * @author YouTech Company http://www.smartaddons.com
 *
 */
/* --Bootstrap Backend--*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
#yt_shorcodes {
  display: inline-block;
  position: relative;
  font-size: 12px;
  vertical-align: text-top;
  margin: 10px;
  float: left;
}
#yt_shorcodes .button-shortcodes {
  display: inline-block;
  padding: 0px 6px;
  margin-bottom: 0;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #6fa8c9;
  background-image: -moz-linear-gradient(top, #76b1d3, #659ab9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#76b1d3), to(#659ab9));
  background-image: -webkit-linear-gradient(top, #76b1d3, #659ab9);
  background-image: -o-linear-gradient(top, #76b1d3, #659ab9);
  background-image: linear-gradient(to bottom, #76b1d3, #659ab9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff76b1d3', endColorstr='#ff659ab9', GradientType=0);
}
#yt_shorcodes .button-shortcodes.btn-text {
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#yt_shorcodes .button-shortcodes.btn-act {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#yt_shorcodes span.arrow {
  display: inline-block;
  border-bottom: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-top: 10px;
}
#yt_shorcodes ul {
  background: #FFF;
  display: none;
  position: absolute;
  padding: 3px 0;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#yt_shorcodes.open {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
#yt_shorcodes.open ul {
  left: 0;
  bottom: 26px;
  width: 410px;
  display: block;
  padding: 10px;
  z-index: 11;
}
#yt_shorcodes.open ul li {
  display: block;
  padding: 0;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33%;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 18px;
}
#yt_shorcodes.open ul li.item:before {
  font-family: FontAwesome ;
  margin: 5px 8px 0 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #377ba2;
  width: 12px;
  float: left;
}
#yt_shorcodes.open ul li.item-accordion:before {
  content: "\f0ca";
}
#yt_shorcodes.open ul li.item-spacer:before {
  content: "\f07d";
}
#yt_shorcodes.open ul li.item-blockquote:before {
  content: "\f10d";
}
#yt_shorcodes.open ul li.item-buttons:before {
  content: "\f0c8";
}
#yt_shorcodes.open ul li.item-clear:before {
  content: "\f08b";
}
#yt_shorcodes.open ul li.item-column:before {
  content: "\f0db";
}
#yt_shorcodes.open ul li.item-dropcap:before {
  content: "\f031";
}
#yt_shorcodes.open ul li.item-divider:before {
  content: "\f068";
}
#yt_shorcodes.open ul li.item-gallery:before {
  content: "\f03e";
}
#yt_shorcodes.open ul li.item-googlefont:before {
  content: "\f035";
}
#yt_shorcodes.open ul li.item-googlemap:before {
  content: "\f041";
}
#yt_shorcodes.open ul li.item-list:before {
  content: "\f0cb";
}
#yt_shorcodes.open ul li.item-br:before {
  content: "\f0c4";
}
#yt_shorcodes.open ul li.item-lightbox:before {
  content: "\f065";
}
#yt_shorcodes.open ul li.item-message:before {
  content: "\f071";
}
#yt_shorcodes.open ul li.item-pricing:before {
  content: "\f0ce";
}
#yt_shorcodes.open ul li.item-icon:before {
  content: "\f108";
}
#yt_shorcodes.open ul li.item-social:before {
  content: "\f099";
}
#yt_shorcodes.open ul li.item-highlighter:before {
  content: "\f022";
}
#yt_shorcodes.open ul li.item-testimonial:before {
  content: "\f075";
}
#yt_shorcodes.open ul li.item-tabs:before {
  content: "\f07b";
}
#yt_shorcodes.open ul li.item-toggle:before {
  content: "\f0ae";
}
#yt_shorcodes.open ul li.item-vimeo:before {
  content: "\f194";
  font-size: 20px;
}
#yt_shorcodes.open ul li.item-youtube:before {
  content: "\f166";
  font-size: 20px;
}
#yt_shorcodes.open ul li.item-slideshow:before {
  content: "\f008";
}
#yt_shorcodes.open ul li.item-tooltip:before {
  content: "\f034";
}
#yt_shorcodes.open ul li.item-modal:before {
  content: "\f01c";
}
#yt_shorcodes.open ul li.allShortcode {
  width: 100%;
  margin: 10px 0;
  background: transparent !important;
  box-shadow: none !important;
}
#yt_shorcodes.open ul li.allShortcode > a {
  margin: 0 1em;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 8px;
  font-size: 13px;
  background: #3f81a7;
}
#yt_shorcodes.open ul li.allShortcode > a:hover {
  background-color: #6fa8c9;
}
#yt_shorcodes.open ul li:hover {
  background-color: #5792b4;
  background-image: -moz-linear-gradient(top, #679dbc, #3f81a7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#679dbc), to(#3f81a7));
  background-image: -webkit-linear-gradient(top, #679dbc, #3f81a7);
  background-image: -o-linear-gradient(top, #679dbc, #3f81a7);
  background-image: linear-gradient(to bottom, #679dbc, #3f81a7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff679dbc', endColorstr='#ff3f81a7', GradientType=0);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
#yt_shorcodes.open ul li:hover:before {
  color: #fff;
}
#yt_shorcodes.open ul li:hover a:hover {
  text-decoration: none;
  color: #fff;
}
#yt_shorcodes.open ul li a {
  display: block;
  color: #666;
  line-height: normal;
  padding: 5px;
}
.btn-toolbar {
  width: 100%;
}
