@import url(http://fonts.googleapis.com/css?family=Carme);
.st-content-showcase-wall.constant .category-wall span {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}
.st-content-showcase-wall.constant .item .inner {
	position: relative;
	margin: 0;
	padding: 0;
}
.st-content-showcase-wall.constant .item .inner .media:after {
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.39);
	z-index: 1;
}
.st-content-showcase-wall.constant .item .inner .info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	font-family: 'Carme', sans-serif;
	z-index: 2;
	border-left: 3px solid #fff;
}
.st-content-showcase-wall.constant .item .inner .info .title a {
	color: #fff;
	font-size: 40px;
	font-weight: 400;
	font-family: 'Carme', sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	margin: 10px 0;
	line-height: 55px;
}
.st-content-showcase-wall.constant .item .inner .info .description {
	color: #fff;
	font-family: 'Carme', sans-serif;
	margin: 10px 0;
}
.st-content-showcase-wall.constant .item .inner .info .category {
	background: #fff;
	color: #2c2c2c;
	display: inline;
	padding: 5px;
	font-family: 'Carme', sans-serif;
	font-size: 10px;
	margin: 10px 0;
	text-transform: capitalize;
}
.st-content-showcase-wall.constant .item .inner:hover > .info,
.st-content-showcase-wall.constant .item .inner .info {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}
.st-content-showcase-wall.constant .item .inner:hover > .info {
	-webkit-transform: translate(0, -30px);
	-moz-transform: translate(0, -30px);
	-ms-transform: translate(0, -30px);
	-o-transform: translate(0, -30px);
	
}
.st-content-showcase-wall.constant .item .inner .media:after {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}
.st-content-showcase-wall.constant .item .inner:hover .media:after {
	background: none;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}
.st-content-showcase-wall.constant .item .inner .media img {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
}
.st-content-showcase-wall.constant .item .inner:hover .media img {
	-webkit-transform: scale(1.1, 1.1) translate(-8px, 5px);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
}
.st-content-showcase-wall.constant .item .inner .media .links {
	display: none;
}
.st-content-showcase-wall.constant .category-wall {
	margin: 15px 0;
}
.st-content-showcase-wall.constant .category-wall span {
	font-family: 'Carme', sans-serif;
	border: none;
	border-bottom: 2px solid #000;
}
@media (max-width: 1200px) {
	.st-content-showcase-wall.constant .item .inner .info .title a {
		font-size: 24px;
	}
}
@media (max-width: 1024px) {
	.st-content-showcase-wall.constant .item .inner .info .title a {
		font-size: 18px;
	}
}
@media (max-width: 768px) {
	.st-content-showcase-wall.constant .item .inner .info .title a {
		font-size: 14px;
	}
}