@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
.st-content-showcase-wall.default .item .inner {
	position: relative;
	margin: 10px;
	padding: 0;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
}
.st-content-showcase-wall.default .item .inner .info > * {
	padding: 0 10px;
}
.st-content-showcase-wall.default .item .inner .info .title a {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding: 10px 0;
	background: #fff;
	color: rgb(64, 64, 64);
	text-decoration: none; 
}
.st-content-showcase-wall.default .item .inner .info .category {
	font-size: 11px;
	text-transform: capitalize;
	margin: -11px 0 10px;
}
.st-content-showcase-wall.default .item .inner .info .description {
	font-size: 12px;
	padding: 10px;
	background: rgb(242, 242, 242);
}
.st-content-showcase-wall.default .item .inner .media {
	position: relative;
}
.st-content-showcase-wall.default .item .inner .media:after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.57);
	
	opacity: 0;
	filter: alpha(opacity: 0);
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.st-content-showcase-wall.default .item .inner .media .links {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity: 0);
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
	z-index: 99;
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.st-content-showcase-wall.default .item .inner .media .links a {
	font-size: 20px;
	color: #fff;
	margin: 5px;
	text-decoration: none;
}
.st-content-showcase-wall.default .item .inner:hover .media:after,
.st-content-showcase-wall.default .item .inner:hover .media .links {
	opacity: 1;
	filter: alpha(opacity: 100);
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}