@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
.st-content-showcase-wall.flat .item .inner {
	position: relative;
	margin: 10px;
	padding: 0;
}
.st-content-showcase-wall.flat .item .inner .media .links {
	opacity: 0;
	filter: alpha(0);
	display: none;
}
.st-content-showcase-wall.flat .item .inner .info {
	border: 1px solid #000;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; 
	background: #fff;
	opacity: 0;
	filter: aplha(opacity: 0);
	-webkit-transition: all 0.2s;
	
}
.st-content-showcase-wall.flat .item .inner .info .title {
	margin-top: 15%;
}
.st-content-showcase-wall.flat .item .inner .info .title a {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}
.st-content-showcase-wall.flat .item .inner .info .category {
	text-transform: capitalize;
}
.st-content-showcase-wall.flat .item .inner .info .description {
	text-transform: capitalize;
}
.st-content-showcase-wall.flat .item .inner .title {
	-webkit-transform: translate(0, 7px);
	-webkit-transition: all 0.3s;
}
.st-content-showcase-wall.flat .item .inner:hover .title,
.st-content-showcase-wall.flat .item .inner:hover .category,
.st-content-showcase-wall.flat .item .inner:hover .description {
	-webkit-transform: translate(0, 0);
	-webkit-transition: all 0.3s;
}
.st-content-showcase-wall.flat .item .inner .category,
.st-content-showcase-wall.flat .item .inner .description {
	-webkit-transform: translate(0, -7px);
	-webkit-transition: all 0.3s;
}
.st-content-showcase-wall.flat .item .inner:hover .info {
	opacity: 1;
	filter: aplha(opacity: 100);
	-webkit-transition: all 0.2s;
}
