@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,600);
.st-content-showcase-wall.morning .category-wall span {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}
.st-content-showcase-wall.morning .item .inner {
	position: relative;
	margin: 0;
	padding: 0;
}
.st-content-showcase-wall.morning .item .inner .info {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.st-content-showcase-wall.morning .item .inner:hover .info {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.st-content-showcase-wall.morning .item .inner .info > * {
	padding: 10px 20px;
}
.st-content-showcase-wall.morning .item .inner .info .title a {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: 300;
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
}
.st-content-showcase-wall.morning .item .inner .info .category {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
}
.st-content-showcase-wall.morning .item .inner .info .description {
	font-size: 15px;
	font-weight: 300;
} 

.st-content-showcase-wall.morning .item.color-turquoise .inner .info {
	background: rgba(26, 188, 156, 0.71);	
}
.st-content-showcase-wall.morning .item.color-emerland .inner .info {
	background: rgba(46, 204, 113, 0.7);
}
.st-content-showcase-wall.morning .item.color-river .inner .info {
	background: rgba(52, 152, 219, 0.71);	
}
.st-content-showcase-wall.morning .item.color-amethyst .inner .info {
	background: rgba(155, 89, 182, 0.73);;	
}
.st-content-showcase-wall.morning .item.color-asphalt .inner .info {
	background: rgba(52, 73, 94, 0.67);;	
}
.st-content-showcase-wall.morning .item.color-orange .inner .info {
	background: rgba(243, 156, 18, 0.72);;	
}
.st-content-showcase-wall.morning .item.color-carrot .inner .info {
	background: rgba(230, 126, 34, 0.72);;	
}
.st-content-showcase-wall.morning .item.color-black .inner .info {
	background: rgba(0, 0, 0, 0.72);	
}
.st-content-showcase-wall.morning .item .inner .media .links {
	display: none;
}
.st-content-showcase-wall.morning .category-wall {
	margin: 15px 0;
}
.st-content-showcase-wall.morning .category-wall span {
	border: none;
	border-left: 2px solid #000;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	padding: 10px 25px 10px 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
.st-content-showcase-wall.morning .category-wall span:hover,
.st-content-showcase-wall.morning .category-wall span.current {
	border-left-color: rgba(26, 188, 156, 1);
	border-bottom: 2px solid rgba(26, 188, 156, 1);
	background: none;
	color: #000;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
@media (max-width: 1200px) {
	.st-content-showcase-wall.constant .item .inner .info .title a {
		font-size: 24px;
	}
}
@media (max-width: 1024px) {
	.st-content-showcase-wall.constant .item .inner .info .title a {
		font-size: 18px;
	}
}
@media (max-width: 768px) {
	.st-content-showcase-wall.constant .item .inner .info .title a {
		font-size: 14px;
	}
}
@media (max-width: 480px) {
	.st-content-showcase-wall.constant .item .inner .info .title a {
		font-size: 10px;
	}
}