@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,100);
.st-content-showcase-wall.trully .layout-wall {
	background: #ccc;
}
.st-content-showcase-wall.trully .category-wall span {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.st-content-showcase-wall.trully .item .inner {
	position: relative;
	margin: 5px;
}
.st-content-showcase-wall.trully .item .inner .media {
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	position: relative;
}
.st-content-showcase-wall.trully .item .inner .media img,
.st-content-showcase-wall.trully .item .inner:hover .media img {
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}
.st-content-showcase-wall.trully .item .inner:hover .media img {
	-webkit-transform: scale(1.2, 1.2);
}
.st-content-showcase-wall.trully .item .inner .info {
	background: #fff;
	border-bottom: 3px solid #000;
	border-radius: 0 0 5px 5px;
	padding: 15px;
}
.st-content-showcase-wall.trully .item .inner .info .title {
	margin: 0;
}
.st-content-showcase-wall.trully .item .inner .info .title a {
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	line-height: 60px;
	text-decoration: none;
}
.st-content-showcase-wall.trully .item .inner .info .category {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 600;
	background: #000;
	color: #fff;
	display: inline-block;
	padding: 5px;
	border-radius: 3px;
	margin: 5px 0;
	text-transform: capitalize;
}
.st-content-showcase-wall.trully .item .inner .media:after {
	content: '';
	position: absolute;
	top: 0;
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	text-align: center;
	background: rgba(0, 0, 0, 0.7); 
	opacity: 0;
	filter: alpha(opacity: 0);
	
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.st-content-showcase-wall.trully .item .inner:hover .media:after {
	opacity: 1;
	filter: alpha(opacity: 100);
	
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.st-content-showcase-wall.trully .item .inner .media .links {
	position: absolute;
	top: 45%;
	text-align: center;
	z-index: 99;
	margin: auto;
	left: 0;
	right: 0;
	opacity: 0;
	filter: alpha(opacity: 0);
	
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.st-content-showcase-wall.trully .item .inner:hover .media .links {
	opacity: 1;
	filter: alpha(opacity: 100);
	
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

.st-content-showcase-wall.trully .item .inner .media .links a {
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	margin: 0 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}

.st-content-showcase-wall.trully .item .inner .media .links a:hover {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
.st-content-showcase-wall.trully .category-wall {
	margin: 15px 0;
}
.st-content-showcase-wall.trully .category-wall span {
	border: 2px solid #000;
	border-radius: 15px;
	background: 0;
	padding: 8px 15px;
}
.st-content-showcase-wall.trully .category-wall span.current {
	background: #000;
}
.st-content-showcase-wall.trully .category-wall span:hover {
	background: #ccc;
}
