.st-choose-your-demo .content a.view-demo:hover,
.st-best-seller .st-content-showcase-carousel .contain .item .inner>form a.hikashop_cart_button,
.st-main-menu ul.st-mega-menu li>.st-mega-menu-row,
.st-login-header .logout-button .btn,
.st-our-skills .st-module-content .poll p.background,
div.yt-pricing .column.featured div.pricing-money,
div.yt-pricing .column .pricing-bottom a.signup:hover,
.st-our-portfolio-wall .category-wall span.current, 
.st-our-portfolio-wall .category-wall span:hover,
.border-buttons a.btn:hover, 
.filled-buttons a.btn:hover, 
.arrows-buttons a.btn:hover, 
.buttons-icon a.btn:hover,
.st-page-blog .pagination li span, 
.st-page-blog .pagination li a:hover,
.st-portfolio-columns .category-wall span.current, 
.st-portfolio-columns .category-wall span:hover,
.hikashop_products .hikashop_subcontainer:hover form a.hikashop_cart_button,
.hikashop_products_listing .list-footer a.pagenav:hover, 
.hikashop_products_listing .list-footer span.pagenav,
.hikashop_cart .hikashop_cart_button,
.hikashop_product_page .hikashop_product_right_part a.hikashop_cart_button,
.hikashop_checkout_billing_address_new a, 
#hikashop_checkout_next_button,
.st-say-hello .st-contact-form .submit input:hover,
.st-slider-home-3 .column-inner a.readmore:hover,
.st-we-create-visuals .category-wall span.current, 
.st-we-create-visuals .category-wall span:hover,
.st-page-home-3 .st-buy-this-theme p.click a:hover,
#data_login #form-login-submit button,
.st-login .login .well .btn.btn-primary,
.reset .form-actions .btn.btn-primary, 
.remind .form-actions .btn.btn-primary,
.st-straight-from-the-blog .inner .image .modal_fancybox:before,
#hikashop_checkout_login a.hikashop_cart_button,
#avatar-go-to-top,
.st-we-are-metanic-home-2 .span3 .image:after{
	background-color: #01505d;
}
.st-main-menu ul.st-mega-menu li.current>a, 
.st-main-menu ul.st-mega-menu li.active>a, 
.st-main-menu ul.st-mega-menu li.current>span, 
.st-main-menu ul.st-mega-menu li.active>span,
.st-main-menu ul.st-mega-menu li a:hover, 
.st-main-menu ul.st-mega-menu li span:hover,
.st-meet-our-team-slider .st-content-showcase-carousel .inner .social a:hover,
.st-about-us-accordion h3.title span,
.st-about-us-accordion ul.yt-accordion li.accordion-group h3.accordion-heading .fa-plus-circle,
.st-timeline-articles .timeline .inner-item .title a:hover,
.st-meet-our-team-slider .st-content-showcase-carousel .contain .item .inner .info .title a:hover,
.st-page-blog .blog-article .title a:hover,
.st-recent-posts ul li .title a:hover,
.st-best-seller .st-content-showcase-carousel .contain .item .inner .info .title a:hover,
.st-main-menu ul.st-mega-menu li>.st-mega-menu-row li:hover>.title>a, 
.st-main-menu ul.st-mega-menu li>.st-mega-menu-row li:hover>.title>span,
.st-page-404 .main-content .link a:hover,
.st-page-404 .main-content .title,
div.yt-pricing .column .pricing-basic span,
.hikashop_products .hikashop_product_name a:hover,
.hikashop_product_page h3.title-product,
.hikashop_wizardbar ul li.hikashop_cart_step_current,
.hikashop_cart_shipping_value .hikashop_checkout_cart_shipping,
.hikashop_wizardbar ul li:hover a, 
.hikashop_wizardbar ul li.hikashop_cart_step_finished:hover a,
.hikashop_cart_product_name .hikashop_no_print:hover,
.st-straight-from-the-blog .contents .title a:hover,
.st-featured-items .hikashop_products .hikashop_product_name a,
.st-related-post .item .link .title a:hover,
.st-page-about-us-slider .inner .title a:hover,
.st-we-are-metanic-home-2 .span3:hover .image{
	color: #01505d;
}

.st-our-skill .content .st-border .spinner,
.st-our-skill .content .st-border .filler,
div.yt-pricing .column .pricing-bottom a.signup:hover,
.st-our-portfolio-wall .category-wall span.current, 
.st-our-portfolio-wall .category-wall span:hover,
.border-buttons a.btn:hover, 
.filled-buttons a.btn:hover, 
.arrows-buttons a.btn:hover, 
.buttons-icon a.btn:hover,
.st-page-blog .pagination li span, 
.st-page-blog .pagination li a:hover,
.st-portfolio-columns .category-wall span.current, 
.st-portfolio-columns .category-wall span:hover,
.hikashop_products_listing .list-footer a.pagenav:hover, 
.hikashop_products_listing .list-footer span.pagenav,
.st-say-hello .st-contact-form .submit input:hover,
.st-slider-home-3 .column-inner a.readmore:hover,
.st-we-create-visuals .category-wall span.current, 
.st-we-create-visuals .category-wall span:hover,
.st-page-home-3 .st-buy-this-theme p.click a:hover{
	border-color: #01505d;
}
.hikashop_wizardbar ul li.hikashop_cart_step_current,
.hikashop_wizardbar ul li:hover, 
.hikashop_wizardbar ul li.hikashop_cart_step_finished:hover{
	border-top-color: #01505d;
}
.st-timeline-articles .timeline .row-fluid .item.span6:after{
	background-image: url(../timeline-icon.png);
}
.st-we-are-metanic-home-2 .span3 .image{
	box-shadow: 0 0 0 4px #01505d;
}
@media (max-width: 1024px){
	body.avatar-responsive .st-main-menu,
	body.avatar-responsive .st-main-menu ul.st-mega-menu li>.st-mega-menu-row li:hover{
		background-color: #01505d;
	}
}