

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  padding: 0px;
margin: 0px;
}
*, *:before, *:after {
  box-sizing: inherit;
}



div.clouds {
	position: fixed;
	top: 0px;
	left:0px;
	right:0px;
	z-index: 1;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	object-fit: cover;
}
div.clouds video, div.clouds object, div.clouds embed {
	/*width: 100%;*/
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 720px;
	margin: 0 auto;
	z-index: -1;
	object-fit: cover;
}

.header {
position: fixed; 
top:0; 
left: 0; 
right: 0;
height: auto; 
background-color: rgba(59,58,53, .8);
z-index: 20;
text-align: center;
}

#header img {max-height: 100%; width: auto; }

.main-menu ul {
  display: inline-block;
  margin: 0px auto;
  /* margin-left: -1.5%; */
  padding: 0px;
  text-align: center;
  width: 100%;
  display: table;
    max-width: 1000px;
  margin: 2px auto 2px;
    vertical-align: middle;
}

.main-menu li {
  list-style-type: none;
  /* display: inline; */
  height: auto;
  padding: 5px 10px;
  color: #999087;
  margin: 0px;
  font-family: 'dirty-ego', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  display: table-cell;
}

.main-menu li:hover {
  color: white;
}

#frontpagebox {
width: 100vw;
height: 100vh;
background: black;
background: rgba(0,0,0,0.60);
/*position: absolute;
overflow: scroll;*/
padding: 80px 0px;
display: inline-block;
margin: 0px auto;
z-index: 10;
color: white; 
font-size: 12px;
background: url('../images/st_theme/r4fade-background.png') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-box-shadow: inset 0px 0px 600px 0px rgba(0,0,0,1);
-moz-box-shadow: inset 0px 0px 600px 0px rgba(0,0,0,1);
box-shadow: inset 0px 0px 600px 0px rgba(0,0,0,1);
}
.main-menu ul li a{
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.65);
	color: #586d22;
	text-decoration: none;
	font-size: 24px;
}
.main-menu ul li a:hover {
	text-decoration: none;
	color: #fff;
	background-color: transparent!important;
}
.home-title {
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.65);
	font-size: 60px;
  font-family: 'dirty-ego', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 80px;
}
.text-center {
	text-align: center;
}
.row img {max-width: 40%; height: auto;}

.button-logo { max-height: 215px; width: auto;}
.button-text {
	font-family: 'dirty-ego', sans-serif;
  font-weight: 300;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.65);
	font-size: 26px;
	color: #fff;
	text-decoration: none;
  text-transform: uppercase;
}
.home-button:hover {
	cursor: pointer;
	text-decoration: none;
}

.required {color: red;}

input[type=text], input[type=url], input[type=email], input[type=date], input[type=password], input[type=tel] {
	-webkit-appearance: none; 
	-moz-appearance: none;
	display: block;
	margin: 0px;
	width: 100%; 
	height: 40px;
	line-height: 40px; 
	font-size: 1.1em;
	border: 1px solid #bbb;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	background: white;
}

input[type=date] {
	
	-webkit-appearance: none; 
	-moz-appearance: none;
	display: block;
	margin: 0px;
	width: 100%; 
	height: 40px;
	line-height: 40px; 
	font-size: 1.1em;
	border: 0px solid #bbb;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	background: white;
}

textarea {
	-webkit-appearance: none; 
	-moz-appearance: none;
	display: block;
	margin: 0px;
	width: 100%; 
	height: 90px;
	line-height: 40px; 
	font-size: 1.1em;
	border: 1px solid #bbb;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	background: white;
}

select {background-color: white;}

.styled-select {
	width: 100%; 
	height: 40px;
   overflow: hidden;
   padding-left: 10px;
   background: url(../images/st_theme/select-arrow.png) no-repeat right white;
   	border-radius: 10px;
	border: 1px solid #bbb;
   }

.styled-select-na {
	width: 100%; 
	height: 40px;
   overflow: hidden;
   padding-left: 10px;
   background: white;
   	border-radius: 10px;
	border: 1px solid #bbb;
   }

.styled-select select {
   background: transparent;
   border: 0;
	-webkit-appearance: none; 
	-moz-appearance: none;
	display: block;
	margin: 0px;
	width: 100%; 
	height: 40px;
	line-height: 50px; 
	font-size: 1.1em;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px;

}

input[type=submit] {
 -webkit-appearance: none; -moz-appearance: none;
 display: block;
 margin: 0px auto;
 font-size: 1.4em; 
 line-height: 2.5em;
 color: #333;
 font-weight: bold;
 height: 2.5em; 
 width: 100%;
 background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
 border: 1px solid #bbb;
 -webkit-border-radius: 10px; 
 -moz-border-radius: 10px; 
 border-radius: 10px;
}

input#wpsl-search-btn {
 -webkit-appearance: none; -moz-appearance: none;
 display: block;
 font-size: 1em; 
  margin: 0px auto;
 color: #333;
 font-weight: bold;
 height: 2.5em; 
 width: 100%;
 background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
 border: 1px solid #bbb;
 -webkit-border-radius: 10px; 
 -moz-border-radius: 10px; 
 border-radius: 10px;
}

.socialbox {font-size: 400%; overflow: auto; color: white; display: inline-block;}


.socialbox a {color: white;}


@media (max-width: 680px) {



}

