/*========== HEADING ==============*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'cabinsemibold';
	font-weight: 600;
	color: #586D22;
}
h3 {
	font-size: 24px;
}
p {
	margin-bottom: 10px;
}
/*============== ICON ==============*/
[class*="social-icon-normal"] {
	background: url(../images/st_theme/icons/icons-social-white.png) no-repeat #ccc;
	width: 40px;
	height: 40px;
	content: '';
	display: inline-block;
	top: 0;
	left: 0;
	text-indent: -9999px;
	background-size: 500px;
	margin: 0 0 3px 0;
}
.social-icon-normal-facebook {
	background-position: -36px 10px;
}
.social-icon-normal-facebook:hover {
	background-color: #4671AD;
}
.social-icon-normal-twitter {
	background-position: 11px 10px;
}
.social-icon-normal-twitter:hover {
	background-color: #48C4D2;
}
.social-icon-normal-google {
	background-position: -133px 13px;
}
.social-icon-normal-google:hover {
	background-color: #D94A39;
}
.social-icon-normal-dribbble {
	background-position: -182px 12px;
}
.social-icon-normal-dribbble:hover {
	background-color: #EF5B92;
}
.social-icon-normal-behance {
	background-position: -279px 12px;
}
.social-icon-normal-behance:hover {
	background-color: #008EFF;
}

/* ===== FONT ICON =====*/
[class*="linecons-"] {
	font-family: 'linecons';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	position: relative;
	margin-bottom: 20px;
	display: inline-block;
	
	background: #ddd;
	height: 120px;
	width: 120px;
	border-radius: 50%;
}
[class*="linecons-"]:before {
	font-family: 'linecons';
	font-size: 50px;
	position: absolute;
	left: 0;
	right: 0;
	color: #bbb;
	line-height: 120px;
	vertical-align: middle;
}
.linecons-pen:before {
	content: "\e00f";
}
.linecons-display:before {
	content: "\e011";
}
.linecons-bulb:before {
	content: "\e00e";
}
.linecons-settings:before {
	content: "\e00a";
}
.linecons-heart:before {
	content: "\e000";
}
.linecons-params:before {
	content: "\e01f";
}
.linecons-tv:before {
	content: "\e003";
}
.linecons-settings:before {
	content: "\e00a";
}
.linecons-heart:before {
	content: "\e000";
}
.linecons-cloud:before {
	content: "\e001";
}
.linecons-star:before {
	content: "\e002";
}
.linecons-tv:before {
	content: "\e003";
}
.linecons-sound:before {
	content: "\e004";
}
.linecons-video:before {
	content: "\e005";
}
.linecons-trash:before {
	content: "\e006";
}
.linecons-user:before {
	content: "\e007";
}
.linecons-key:before {
	content: "\e008";
}
.linecons-search:before {
	content: "\e009";
}
.linecons-settings:before {
	content: "\e00a";
}
.linecons-camera:before {
	content: "\e00b";
}
.linecons-tag:before {
	content: "\e00c";
}
.linecons-lock:before {
	content: "\e00d";
}
.linecons-bulb:before {
	content: "\e00e";
}
.linecons-pen:before {
	content: "\e00f";
}
.linecons-diamond:before {
	content: "\e010";
}
.linecons-display:before {
	content: "\e011";
}
.linecons-location:before {
	content: "\e012";
}
.linecons-eye:before {
	content: "\e013";
}
.linecons-bubble:before {
	content: "\e014";
}
.linecons-stack:before {
	content: "\e015";
}
.linecons-cup:before {
	content: "\e016";
}
.linecons-phone:before {
	content: "\e017";
}
.linecons-news:before {
	content: "\e018";
}
.linecons-mail:before {
	content: "\e019";
}
.linecons-like:before {
	content: "\e01a";
}
.linecons-photo:before {
	content: "\e01b";
}
.linecons-note:before {
	content: "\e01c";
}
.linecons-clock:before {
	content: "\e01d";
}
.linecons-paperplane:before {
	content: "\e01e";
}
.linecons-params:before {
	content: "\e01f";
}
.linecons-banknote:before {
	content: "\e020";
}
.linecons-data:before {
	content: "\e021";
}
.linecons-music:before {
	content: "\e022";
}
.linecons-megaphone:before {
	content: "\e023";
}
.linecons-study:before {
	content: "\e024";
}
.linecons-lab:before {
	content: "\e025";
}
.linecons-food:before {
	content: "\e026";
}
.linecons-t-shirt:before {
	content: "\e027";
}
.linecons-fire:before {
	content: "\e028";
}
.linecons-clip:before {
	content: "\e029";
}
.linecons-shop:before {
	content: "\e02a";
}
.linecons-calendar:before {
	content: "\e02b";
}
.linecons-vallet:before {
	content: "\e02c";
}
.linecons-vynil:before {
	content: "\e02d";
}
.linecons-truck:before {
	content: "\e02e";
}
.linecons-world:before {
	content: "\e02f";
}
