
input[type='text'], input[type='password'] {
	padding: 2px !important;
}
select {
	padding: 1px !important;
}
textarea {
	padding: 2px !important;
}
a, a:visited {
	color: #003366;
	text-decoration: underline;
	cursor: pointer;
}
a img {
	border: 0 !important;
}
form {
	margin: 0 !important;
	padding: 0 !important;
}
label {
	cursor: pointer !important;
}
#header_oc .div1 {
	height: 56px !important;
	padding: 0px 30px !important;
	background: url('../image/header.png') repeat-x !important;
	min-width: 900px !important;
}
#header_oc .div2 {
	color: #FFFFFF !important;
	padding: 18px 0px 0px 0px !important;
	float: left !important;
}
#header_oc .div3 {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	color: #FFF !important;
	text-align: right !important;
	padding: 15px 0px 0px 0px !important;
	float: right !important;
}
#header_oc .div2 span {
	font-weight: bold !important;
}
#menu_oc {
	background: url('../image/menu.png') repeat-x !important;
	position: relative !important;
	z-index: 1 !important;
	height: 34px !important;
	clear: both !important;
	padding: 0px 30px !important;
	min-width: 900px !important;
}
#menu_oc > ul.left {
	float: left !important;
	width: 80% !important;
}
#menu_oc > ul.right {
	float: right !important;
}
#menu_oc > ul {
	position: relative !important;
	margin: 0 !important;
	padding: 0 !important;
}
#menu_oc > ul ul {
	/*
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
	background: url('../image/transparent.png') !important;
	border-bottom: 6px solid #FFFFFF;
	*/
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
#menu_oc > ul ul:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
#menu_oc > ul a {
	display: block !important;
	text-decoration: none !important;
}
#menu_oc > ul li {
	float: left !important;
	list-style: none !important;
	line-height: 15px !important;
}
#menu_oc > ul > li + li {
	background: url('../image/split.png') center left no-repeat !important;
}
#menu_oc > ul .top {
	padding: 10px 15px 9px 17px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	color: #FFFFFF !important;
	text-align: center !important;
}
#menu_oc > ul li ul {
	position: absolute !important;
}
#menu_oc > ul ul li {
	padding: 2px !important;
	clear: both !important;
}
/*#menu_oc > ul .selected .top {
	background: url('../image/selected.png') repeat-x !important;
	color: #FFFFFF !important;
}*/
#menu_oc > ul .parent {
	background-image: url('../image/arrow-right.png') !important; 
	background-position: 95% center !important;
	background-repeat:no-repeat !important;
}
#menu_oc > ul .parent:hover {
	background-image: url('../image/arrow-right-hover.png') !important;
	background-position: 95% center !important;
	background-repeat:no-repeat !important;
}
#menu_oc > ul li ul li ul {
	margin: -29px 0 0 185px !important;
    /*position: relative !important;*/
}
#menu_oc > ul li ul li ul:after {
    display: none;
}
#menu_oc > ul li li a {
	padding: 5px 20px !important;
	margin: 1px !important;
	color: #333333 !important;
	width: 147px !important;
}
#menu_oc > ul li li > a:hover {
    margin: 0px;
    text-decoration: none;
    color: #fff !important;
    background-color: #08c;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top,#08c,#0077b3);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
    background-image: -webkit-linear-gradient(top,#08c,#0077b3);
    background-image: -o-linear-gradient(top,#08c,#0077b3);
    background-image: linear-gradient(to bottom,#08c,#0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0076b2', GradientType=0);
}


#container_oc {
	height: 100% !important;
}
body > #container_oc {
	height: auto !important;
	min-height: 100% !important;
}
#content_oc {
	background: #FFFFFF url('../image/background.png') 0px 1px repeat-x !important;
	padding: 10px 30px 0px 30px !important;
	min-width: 900px !important;
	padding-bottom: 128px !important;
}
#footer_oc {
	background: #FFFFFF url('../image/footer.png') repeat-x !important;
	height: 90px !important;
	padding-top: 38px !important;
	text-align: center !important;
	font-size: 12px !important;
	color: #333 !important;
	position: relative !important;
	margin-top: -128px !important;
	clear: both !important;
}
#footer_oc a {
	color: #333 !important;
	text-decoration: underline !important;
}
.breadcrumb, .breadcrumb a {
	font-size: 12px !important;
	color: #666 !important;
	margin-bottom: 15px !important;
}
.success {
	padding: 10px 10px 10px 33px !important;
	margin-bottom: 15px !important;
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat !important;
	border: 1px solid #BBDF8D !important;
	color: #555555 !important;
	-webkit-border-radius: 5px 5px 5px 5px !important;
	-moz-border-radius: 5px 5px 5px 5px !important;
	-khtml-border-radius: 5px 5px 5px 5px !important;
	border-radius: 5px 5px 5px 5px !important;
}
.warning {
	padding: 10px 10px 10px 33px !important;
	margin-bottom: 15px !important;
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat !important;
	border: 1px solid #F8ACAC !important;
	color: #555555 !important;
	-webkit-border-radius: 5px 5px 5px 5px !important;
	-moz-border-radius: 5px 5px 5px 5px !important;
	-khtml-border-radius: 5px 5px 5px 5px !important;
	border-radius: 5px 5px 5px 5px !important;
}
.attention {
	padding: 10px 10px 10px 33px !important;
	margin-bottom: 15px !important;
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat !important;
	border: 1px solid #F2DD8C !important;
	color: #555555 !important;
	-webkit-border-radius: 5px 5px 5px 5px !important;
	-moz-border-radius: 5px 5px 5px 5px !important;
	-khtml-border-radius: 5px 5px 5px 5px !important;
	border-radius: 5px 5px 5px 5px !important;
}
.required {
	color: #FF0000 !important;
	font-weight: bold !important;
}
.error {
	margin-top: 3px !important;
	color: #FF0000 !important;
	display: block !important;
	font-size: 12px !important;
	font-weight: normal !important;
}
.help {
	color: #666 !important;
	font-size: 11px !important;
	font-weight: normal !important;
	font-family: Verdana, Geneva, sans-serif !important;
	display: block !important;
}
.icon {
	vertical-align: middle !important;
	cursor: pointer !important;
}
.image {
	border: 1px solid #EEEEEE !important;
	padding: 10px !important;
	display: inline-block !important;
}
.image img {
	margin-bottom: 5px !important;
}
.box {
	margin-bottom: 15px !important;
	width: 100% !important;
}
.box > .heading {
	height: 42px !important;
	padding-left: 7px !important;
	padding-right: 7px !important;
	border: 1px solid #DBDBDB !important;
	background: #F5F5F5 !important;
	-webkit-border-radius: 3px 3px 0px 0px !important;
	-moz-border-radius: 3px 3px 0px 0px !important;
	-khtml-border-radius: 3px 3px 0px 0px !important;
	border-radius: 3px 3px 0px 0px !important;
}
.box > .heading h1 {
    color: #003A88 !important;
    float: left !important;
    font-size: 16px !important;
    margin: 0 !important;
    padding: 7px 0 0 !important;
    width: 45% !important;
}
.box > .heading h1 img {
	float: left !important;
	margin-top: 3px !important;
	margin-left: 3px !important;
	margin-right: 8px !important;
}
.box > .heading .buttons {
	float: right !important;
	padding-top: 7px !important;
	margin-right: 5px !important;
}
.box > .heading .buttons .button_oc {
	margin-left: 5px !important;
}
.box > .content_oc h2 { 
	text-transform: uppercase !important;
	color: #FF802B !important;
	font-size: 15px !important;
	font-weight: bold !important;
	padding-bottom: 3px !important;
	border-bottom: 1px dotted #000000 !important;	
}
.box > .content_oc {
	padding: 10px !important;
	border-left: 1px solid #CCCCCC !important;
	border-right: 1px solid #CCCCCC !important;
	border-bottom: 1px solid #CCCCCC !important;
	min-height: 300px !important;
	/*overflow: auto !important;*/
}
a.button_oc, .list a.button_oc_oc {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    text-decoration: none !important;
}

a.button_oc:visited, .list a.button_oc_oc:visited {
    text-decoration: none !important;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

a.button_oc:link, .list a.button_oc_oc:link {
    text-decoration: none !important;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

a.button_oc:hover, .list a.button_oc_oc:hover {
    text-decoration: none !important;
    color: #fff !important;
    background-color: #3276b1;
    border-color: #285e8e;
}

.list {
	border-collapse: collapse !important;
	width: 100% !important;
	border-top: 1px solid #DDDDDD !important;
	border-left: 1px solid #DDDDDD !important;
	margin-bottom: 20px !important;
}
.list td {
	border-right: 1px solid #DDDDDD !important;
	border-bottom: 1px solid #DDDDDD !important;
}
.list thead td {
	background-color: #EFEFEF !important;
	padding: 0px 5px !important;
}
.list thead td a, .list thead td {
	text-decoration: none !important;
	color: #222222 !important;
	font-weight: bold !important;
}

.filter a.button_oc{
	text-decoration: none !important;
}

.list tbody td a {
	text-decoration: underline !important;
}

.filter input, select, button, a{
    margin-bottom: 0 !important;
}

.filter input, .filter select{
    width: 95% !important;
}

.list tbody td {
	vertical-align: middle !important;
	padding: 0px 5px !important;
	background: #FFFFFF !important;
}
.list tbody tr:hover td {
	background-color: #FFFFCB !important;
}
.list .left {
	text-align: left !important;
	padding: 7px !important;
	float: none !important;
	width: auto !important;
}
.list .right {
	text-align: right !important;
	padding: 7px !important;
}
.list .center {
	text-align: center !important;
	padding: 7px !important;
}
.list .asc {
	padding-right: 15px !important;
	background: url('../image/asc.png') right center no-repeat !important;
}
.list .desc {
	padding-right: 15px !important;
	background: url('../image/desc.png') right center no-repeat !important;
}
.list tr.filter td, .list tr:hover.filter td {
	padding: 5px !important;
	background: #E7EFEF !important;
}
.pagination {
	border-top: 1px solid #DDDDDD !important;
	display: inline-block !important;
	width: 100% !important;
	padding-top: 6px !important;
}
.pagination .links {
	float: left !important;
	padding-top: 6px !important;
}
.pagination .links a {
	border: 1px solid #DDDDDD !important;
	padding: 4px 10px !important;
	font-size: 12px !important;
	text-decoration: none !important;
	color: #A3A3A3 !important;
}
.pagination .links b {
	border: 1px solid #269BC6 !important;
	padding: 4px 10px !important;
	font-size: 12px !important;
	font-weight: normal !important;
	text-decoration: none !important;
	color: #269BC6 !important;
	background: #FFFFFF !important;
    line-height: 34px;
}
.pagination .results {
	float: right !important;
	padding-top: 6px !important;
	font-size: 12px !important;
}
table.form {
	width: 100% !important;
	border-collapse: collapse !important;
	margin-bottom: 20px !important;
}
table.form > tbody > tr > td:first-child {
	width: 200px !important;
}
table.form > tbody > tr > td {
	padding: 10px !important;
	color: #000000 !important;
	border-bottom: 1px dotted #CCCCCC !important;
}
.scrollbox {
	border: 1px solid #CCCCCC !important;
	width: 350px;
	height: 100px;
	background: #FFFFFF !important;
	overflow-y: scroll !important;
}
.scrollbox img {
	float: right !important;
	cursor: pointer !important;
}
.htabs {
	padding: 0px 0px 0px 10px !important;
	height: 30px !important;
	line-height: 16px !important;
	border-bottom: 1px solid #DDDDDD !important;
	margin-bottom: 15px !important;
}
.htabs a {
	border-top: 1px solid #DDDDDD !important;
	border-left: 1px solid #DDDDDD !important;
	border-right: 1px solid #DDDDDD !important;
	background: #FFFFFF url('../image/tab.png') repeat-x !important;
	padding: 7px 15px 6px 15px !important;
	float: left !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	font-weight: bold !important;
	text-align: center !important;
	text-decoration: none !important;
	color: #000000 !important;
	margin-right: 2px !important;
	/*display: none !important;*/
}
.htabs a.selected {
	padding-bottom: 7px !important;
	background: #FFFFFF !important;
}
.vtabs {
	width: 190px !important;
	padding: 10px 0px !important;
	min-height: 300px !important;
	float: left !important;
	display: block !important;
	border-right: 1px solid #DDDDDD !important;
}
.vtabs a {
	display: none !important;
}
.vtabs a, .vtabs span {
	display: block !important;
	float: left !important;
	width: 160px !important;
	margin-bottom: 5px !important;
	clear: both !important;
	border-top: 1px solid #DDDDDD !important;
	border-left: 1px solid #DDDDDD !important;
	border-bottom: 1px solid #DDDDDD !important;
	background: #F7F7F7 !important;
	padding: 6px 14px 7px 15px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	font-weight: bold !important;
	text-align: right !important;
	text-decoration: none !important;
	color: #000000 !important;
}
.vtabs a.selected {
	padding-right: 15px !important;
	background: #FFFFFF !important;
}
.vtabs a img, .vtabs span img {
	position: relative !important;
	top: 3px !important;
	cursor: pointer !important;
}
.vtabs-content {
	margin-left: 205px !important;
}
.accordion-heading {
	background: #EFEFEF !important;
	border: 1px solid #DDDDDD !important;
	padding: 8px !important;
	font-weight: bold !important;
	font-size: 13px !important;
	color: #555555 !important;
	margin-bottom: 15px !important;
}
.accordion-heading a {
	float: right !important;
	margin-top: 1px !important;
	font-weight: normal !important;
	text-decoration: none !important;
}
.accordion-content {
	padding: 0px 0px 15px 0px !important;
	/*overflow: auto !important;*/
}
.scrollbox div {
	padding: 3px !important;
}
.scrollbox div input {
	margin: 0px !important;
	padding: 0px !important;
	margin-right: 3px !important;
}
.scrollbox div.even {
	background: #FFFFFF !important;
}
.scrollbox div.odd {
	background: #E4EEF7 !important;
}
.overview {
	float: left !important;
	width: 49% !important;
	margin-bottom: 20px !important;
}
.overview table {
	width: 100% !important;
}
.overview td + td {
	text-align: right !important;
}
.statistic {
	float: right !important;
	width: 49% !important;
	margin-bottom: 20px !important;
}
.range {
	float: right !important;
	color: #FFF !important;
	vertical-align: middle !important;
}
.range {
	padding-top: 1px !important;
	padding-right: 1px !important;
}
.range, .range select {
	font-size: 11px !important;
}
.latest {
	clear: both !important;
}
.latest tbody td {
	background: #FFF !important;
}
.dashboard-heading {
	background: #547C96 !important;
	color: #FFF !important;
	border-bottom: 1px solid #8EAEC3 !important;
	padding: 5px !important;
	font-size: 14px !important;
	font-weight: bold !important;
}
.dashboard-content {
	background: #FCFCFC !important;
	border: 1px solid #8EAEC3 !important;
	padding: 10px !important;
	min-height: 180px !important;
}
.refresh {
	cursor: pointer !important;
	position: relative !important;
	top: 3px !important;
}
.list tbody td{background-color:transparent !important;}
.list tbody tr:hover td{background-color:#EFEFEF !important;}