<?php echo $header; ?>
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/category.png" alt="" /> <?php echo $heading_title; ?></h1>
      <div class="buttons"><a onclick="save('save');" class="button"><?php echo $button_save; ?></a><a onclick="$('#form').submit();" class="button"><?php echo $button_saveclose; ?></a><a onclick="save('new');" class="button"><?php echo $button_savenew; ?></a><a href="<?php echo $cancel; ?>" class="button"><?php echo $button_cancel; ?></a></div>
    </div>
    <div class="content">
      <div id="tabs" class="htabs"><a href="#tab-general"><?php echo $tab_general; ?></a><a href="#tab-data"><?php echo $tab_data; ?></a><a href="#tab-design"><?php echo $tab_design; ?></a><?php if (MijoShop::get('base')->isMijosefInstalled()) { ?><a href="#tab-mijosef">MijoSEF</a><?php } ?></div>
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
		<script language="text/javascript">
			function submitbutton(pressbutton) {
				<?php foreach ($languages as $language) { ?>
					<?php echo MijoShop::get('base')->editor()->save("category_description[".$language['language_id']."][description]"); ?>
				<?php } ?>
				submitform(pressbutton);
			}
		</script>
		
        <div id="tab-general">
          <div id="languages" class="htabs">
            <?php foreach ($languages as $language) { ?>
            <a href="#language<?php echo $language['language_id']; ?>"><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /> <?php echo $language['name']; ?></a>
            <?php } ?>
          </div>
          <?php foreach ($languages as $language) { ?>
          <div id="language<?php echo $language['language_id']; ?>">
            <table class="form">
              <tr>
                <td><span class="required">*</span> <?php echo $entry_name; ?></td>
                <td><input type="text" name="category_description[<?php echo $language['language_id']; ?>][name]" size="100" value="<?php echo isset($category_description[$language['language_id']]) ? $category_description[$language['language_id']]['name'] : ''; ?>" />
                  <?php if (isset($error_name[$language['language_id']])) { ?>
                  <span class="error"><?php echo $error_name[$language['language_id']]; ?></span>
                  <?php } ?></td>
              </tr>
              <tr>
                  <td><?php echo JText::_('COM_MIJOSHOP_ALIAS'); ?></td>
                  <td><input type="text" size="100" name="keyword[<?php echo $language['language_id']; ?>]" value="<?php echo isset($keyword[$language['language_id']]) ? $keyword[$language['language_id']] : ''; ?>" /></td>
              </tr>
              <tr>
                <td><?php echo $entry_meta_description; ?></td>
                <td><textarea name="category_description[<?php echo $language['language_id']; ?>][meta_description]" cols="40" rows="5"><?php echo isset($category_description[$language['language_id']]) ? $category_description[$language['language_id']]['meta_description'] : ''; ?></textarea></td>
              </tr>
              <tr>
                <td><?php echo $entry_meta_keyword; ?></td>
                <td><textarea name="category_description[<?php echo $language['language_id']; ?>][meta_keyword]" cols="40" rows="5"><?php echo isset($category_description[$language['language_id']]) ? $category_description[$language['language_id']]['meta_keyword'] : ''; ?></textarea></td>
              </tr>
              <tr>
                <td><?php echo $entry_description; ?></td>
                <td>
					<?php
						$desc = isset($category_description[$language['language_id']]) ? $category_description[$language['language_id']]['description'] : '';
						echo MijoShop::get('base')->editor()->display("category_description[".$language['language_id']."][description]", $desc, '97% !important', '320', '50', '11');
					?>
				</td>
              </tr>
            </table>
          </div>
          <?php } ?>
        </div>
        <div id="tab-data">
          <table class="form">
            <tr>
              <td><?php echo $entry_parent; ?></td>
              <td><input type="text" name="path" value="<?php echo $path; ?>" size="100" />
                <input type="hidden" name="parent_id" value="<?php echo $parent_id; ?>" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_filter; ?></td>
              <td><input type="text" name="filter" value="" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><div id="category-filter" class="scrollbox">
                  <?php $class = 'odd'; ?>
                  <?php foreach ($category_filters as $category_filter) { ?>
                  <?php $class = ($class == 'even' ? 'odd' : 'even'); ?>
                  <div id="category-filter<?php echo $category_filter['filter_id']; ?>" class="<?php echo $class; ?>"><?php echo $category_filter['name']; ?><img src="view/image/delete.png" alt="" />
                    <input type="hidden" name="category_filter[]" value="<?php echo $category_filter['filter_id']; ?>" />
                  </div>
                  <?php } ?>
                </div></td>
            </tr>
            <tr>
              <td><?php echo $entry_store; ?></td>
              <td><div class="scrollbox">
                  <?php $class = 'even'; ?>
                  <div class="<?php echo $class; ?>">
                    <?php if (in_array(0, $category_store)) { ?>
                    <input type="checkbox" name="category_store[]" value="0" checked="checked" />
                    <?php echo $text_default; ?>
                    <?php } else { ?>
                    <input type="checkbox" name="category_store[]" value="0" />
                    <?php echo $text_default; ?>
                    <?php } ?>
                  </div>
                  <?php foreach ($stores as $store) { ?>
                  <?php $class = ($class == 'even' ? 'odd' : 'even'); ?>
                  <div class="<?php echo $class; ?>">
                    <?php if (in_array($store['store_id'], $category_store)) { ?>
                    <input type="checkbox" name="category_store[]" value="<?php echo $store['store_id']; ?>" checked="checked" />
                    <?php echo $store['name']; ?>
                    <?php } else { ?>
                    <input type="checkbox" name="category_store[]" value="<?php echo $store['store_id']; ?>" />
                    <?php echo $store['name']; ?>
                    <?php } ?>
                  </div>
                  <?php } ?>
                </div></td>
            </tr>
            <tr>
              



              <td><?php echo $entry_image; ?></td>
              <td valign="top"><div class="image"><img src="<?php echo $thumb; ?>" alt="" id="thumb" />
                  <input type="hidden" name="image" value="<?php echo $image; ?>" id="image" />
                  <br />
                  <a onclick="image_upload('image', 'thumb');"><?php echo $text_browse; ?></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onclick="$('#thumb').attr('src', '<?php echo $no_image; ?>'); $('#image').attr('value', '');"><?php echo $text_clear; ?></a></div></td>
            </tr>
            <tr>
              <td><?php echo $entry_top; ?></td>
              <td><?php if ($top) { ?>
                <input type="checkbox" name="top" value="1" checked="checked" />
                <?php } else { ?>
                <input type="checkbox" name="top" value="1" />
                <?php } ?></td>
            </tr>
            <tr>
              <td><?php echo $entry_column; ?></td>
              <td><input type="text" name="column" value="<?php echo $column; ?>" size="1" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_sort_order; ?></td>
              <td><input type="text" name="sort_order" value="<?php echo $sort_order; ?>" size="1" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_status; ?></td>
              <td><select name="status">
                  <?php if ($status) { ?>
                  <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                  <option value="0"><?php echo $text_disabled; ?></option>
                  <?php } else { ?>
                  <option value="1"><?php echo $text_enabled; ?></option>
                  <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                  <?php } ?>
                </select></td>
            </tr>
          </table>
        </div>

        <?php if (MijoShop::get('base')->isMijosefInstalled()) { ?>
        <div id="tab-mijosef">
            <div id="languagessef" class="htabs">
                <?php foreach ($languages as $language) { ?>
                <a href="#languagesef<?php echo $language['language_id']; ?>"><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /> <?php echo $language['name']; ?></a>
                <?php } ?>
            </div>
            <?php foreach ($languages as $language) { ?>
            <div id="languagesef<?php echo $language['language_id']; ?>">
                <table class="form">
                    <tr>
                        <td><span class="required">*</span> SEF URL</td>
                        <td><input type="text" name="mijosef[<?php echo $language['language_id']; ?>][url_sef]" size="100" value="<?php echo MijoShop::get('mijosef')->get('url_sef', 'category', JRequest::getInt('category_id', 0, 'get'), $language['language_id']); ?>" />
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Meta Title</td>
                        <td><input type="text" name="mijosef[<?php echo $language['language_id']; ?>][title]" size="100" value="<?php echo MijoShop::get('mijosef')->get('title', 'category', JRequest::getInt('category_id', 0, 'get'), $language['language_id']); ?>" />
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Meta Description</td>
                        <td><textarea class="text_area" name="mijosef[<?php echo $language['language_id']; ?>][description]" cols="57" rows="5"><?php echo MijoShop::get('mijosef')->get('description', 'category', JRequest::getInt('category_id', 0, 'get'), $language['language_id']); ?></textarea>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Meta Keywords</td>
                        <td><textarea class="text_area" name="mijosef[<?php echo $language['language_id']; ?>][keywords]" cols="57" rows="5"><?php echo MijoShop::get('mijosef')->get('keywords', 'category', JRequest::getInt('category_id', 0, 'get'), $language['language_id']); ?></textarea>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Meta Language</td>
                        <td><input type="text" name="mijosef[<?php echo $language['language_id']; ?>][lang]" size="30" value="<?php echo MijoShop::get('mijosef')->get('lang', 'category', JRequest::getInt('category_id', 0, 'get'), $language['language_id']); ?>" />
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Meta Robots</td>
                        <td><input type="text" name="mijosef[<?php echo $language['language_id']; ?>][robots]" size="30" value="<?php echo MijoShop::get('mijosef')->get('robots', 'category', JRequest::getInt('category_id', 0, 'get'), $language['language_id']); ?>" />
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Meta Googlebot </td>
                        <td><input type="text" name="mijosef[<?php echo $language['language_id']; ?>][googlebot]" size="30" value="<?php echo MijoShop::get('mijosef')->get('googlebot', 'category', JRequest::getInt('category_id', 0, 'get'), $language['language_id']); ?>" />
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Meta Canonical URL</td>
                        <td><input type="text" name="mijosef[<?php echo $language['language_id']; ?>][canonical]" size="100" value="<?php echo MijoShop::get('mijosef')->get('canonical', 'category', JRequest::getInt('category_id', 0, 'get'), $language['language_id']); ?>" />
                    </tr>
                </table>
                <input type="hidden" name="mijosef[<?php echo $language['language_id']; ?>][url_id]" value="<?php echo MijoShop::get('mijosef')->get('url_id', 'category', JRequest::getInt('category_id', 0, 'get'), $language['language_id']); ?>" />
                <input type="hidden" name="mijosef[<?php echo $language['language_id']; ?>][meta_id]" value="<?php echo MijoShop::get('mijosef')->get('meta_id', 'category', JRequest::getInt('category_id', 0, 'get'), $language['language_id']); ?>" />
                <input type="hidden" name="mijosef[<?php echo $language['language_id']; ?>][route_var]" value="route=product/category" />
                <input type="hidden" name="mijosef[<?php echo $language['language_id']; ?>][route_id]" value="path=<?php echo JRequest::getInt('category_id', 0, 'get'); ?>" />
            </div>
            <?php } ?>
        </div>
        <?php } ?>
        <div id="tab-design">
          <table class="list">
            <thead>
              <tr>
                <td class="left"><?php echo $entry_store; ?></td>
                <td class="left"><?php echo $entry_layout; ?></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="left"><?php echo $text_default; ?></td>
                <td class="left"><select name="category_layout[0][layout_id]">
                    <option value=""></option>
                    <?php foreach ($layouts as $layout) { ?>
                    <?php if (isset($category_layout[0]) && $category_layout[0] == $layout['layout_id']) { ?>
                    <option value="<?php echo $layout['layout_id']; ?>" selected="selected"><?php echo $layout['name']; ?></option>
                    <?php } else { ?>
                    <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>
                    <?php } ?>
                    <?php } ?>
                  </select></td>
              </tr>
            </tbody>
            <?php foreach ($stores as $store) { ?>
            <tbody>
              <tr>
                <td class="left"><?php echo $store['name']; ?></td>
                <td class="left"><select name="category_layout[<?php echo $store['store_id']; ?>][layout_id]">
                    <option value=""></option>
                    <?php foreach ($layouts as $layout) { ?>
                    <?php if (isset($category_layout[$store['store_id']]) && $category_layout[$store['store_id']] == $layout['layout_id']) { ?>
                    <option value="<?php echo $layout['layout_id']; ?>" selected="selected"><?php echo $layout['name']; ?></option>
                    <?php } else { ?>
                    <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>
                    <?php } ?>
                    <?php } ?>
                  </select></td>
              </tr>
            </tbody>
            <?php } ?>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
 












<script type="text/javascript"><!--
$('input[name=\'path\']').autocomplete({
	delay: 500,
	source: function(request, response) {		
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					'category_id':  0,
					'name':  '<?php echo $text_none; ?>'
				});
				
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.category_id
					}
				}));
			}
		});
	},
	select: function(event, ui) {
		$('input[name=\'path\']').val(ui.item.label);
		$('input[name=\'parent_id\']').val(ui.item.value);
		
		return false;
	},
	focus: function(event, ui) {
      	return false;
   	}
});
//--></script> 
<script type="text/javascript"><!--
// Filter
$('input[name=\'filter\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/filter/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.filter_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('#category-filter' + ui.item.value).remove();
		
		$('#category-filter').append('<div id="category-filter' + ui.item.value + '">' + ui.item.label + '<img src="view/image/delete.png" alt="" /><input type="hidden" name="category_filter[]" value="' + ui.item.value + '" /></div>');

		$('#category-filter div:odd').attr('class', 'odd');
		$('#category-filter div:even').attr('class', 'even');
				
		return false;
	},
	focus: function(event, ui) {
      return false;
   }
});

$('#category-filter div img').live('click', function() {
	$(this).parent().remove();
	
	$('#category-filter div:odd').attr('class', 'odd');
	$('#category-filter div:even').attr('class', 'even');	
});
//--></script> 
<script type="text/javascript"><!--
function image_upload(field, thumb) {
	$('#dialog').remove();
	
	$('#content').prepend('<div id="dialog" style="padding: 3px 0px 0px 0px;"><iframe src="index.php?option=com_mijoshop&format=raw&tmpl=component&route=common/filemanager&token=<?php echo $token; ?>&field=' + encodeURIComponent(field) + '" style="padding:0; margin: 0; display: block; width: 100%; height: 100%;" frameborder="no" scrolling="auto"></iframe></div>');
	
	$('#dialog').dialog({
		title: '<?php echo $text_image_manager; ?>',
		close: function (event, ui) {
			if ($('#' + field).attr('value')) {
				$.ajax({
					url: 'index.php?option=com_mijoshop&format=raw&tmpl=component&route=common/filemanager/image&token=<?php echo $token; ?>&image=' + encodeURIComponent($('#' + field).val()),
					dataType: 'text',
					success: function(data) {
						$('#' + thumb).replaceWith('<img src="' + data + '" alt="" id="' + thumb + '" />');
					}
				});
			}
		},	
		bgiframe: false,
		width: 800,
		height: 400,
		resizable: false,
		modal: false
	});
};
//--></script> 
<script type="text/javascript"><!--
$('#tabs a').tabs(); 
$('#languages a').tabs();

$('#languagessef a').tabs();
        
//--></script> 
<?php echo $footer; ?>

<script type="text/javascript"><!--
function save(type){
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'button';
    input.value = type;
    document.getElementById('form').appendChild(input);
    $('#form').submit();
}
//--></script>