.st-content-showcase-carousel.base .contain .item .inner {
	margin: 0 15px;
}
.st-content-showcase-carousel.base .contain .item .inner .media {
	padding: 0;
	margin: 0;
}
.st-content-showcase-carousel.base .contain .item .inner .media .links a.link:before {
	content: '';
}
.st-content-showcase-carousel.base .contain .item .inner .media .links a.link {
	background: none;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0;	
}
.st-content-showcase-carousel.base .contain .item .inner .media:hover .links a.link  {
	background: none;
	height: 85.5%;
	left: 5%;
	top: 6.5%;
	width: 89%;
}
.st-content-showcase-carousel.base .contain .item .inner .media img {
	-webkit-filter: grayscale(100%);	
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
}
.st-content-showcase-carousel.base .contain .item:hover .inner .media img {
	-webkit-filter: grayscale(0%);	
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
}
.st-content-showcase-carousel.base {
	padding: 0;
	overflow: visible;
}
.st-content-showcase-carousel.base.nav-top .nav {
	position: absolute;
	top: -44px;
	margin: 0;
	left: 122px;
	right: 0;
}
.st-content-showcase-carousel.base .nav .next,
.st-content-showcase-carousel.base .nav .prev {
	cursor: pointer;
	display: block;
	float: left;
	height: 21px;
	text-indent: -9999px;
	width: 21px;
	z-index: 10;
	outline: none;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}
.st-content-showcase-carousel.base .nav .prev {
	background: url(base/carousel-prev.png) no-repeat center center #fff;
}
.st-content-showcase-carousel.base .nav .next {
	background: url(base/carousel-next.png) no-repeat center center #fff;
}
.st-content-showcase-carousel.base .nav .next:hover {
	background: url(base/carousel-next-hover.png) no-repeat center center #efefef;
}
.st-content-showcase-carousel.base .nav .prev:hover {
	background: url(base/carousel-prev-hover.png) no-repeat center center #efefef;
}