.st-content-showcase-carousel.team .contain .item .inner .media {
	background: none;
	padding: 0;
	margin: 0;
}
.st-content-showcase-carousel.team .contain .item .inner .media .links a.link {
	display: none;
}
.st-content-showcase-carousel.team .nav > div {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: absolute;
	text-indent: 0;
	background: #f2f2f2;
	border: none;
	z-index: 5;
	top: 15px;
}
.st-content-showcase-carousel.team .nav > div:hover {
	background: #f2f2f2;
}
.st-content-showcase-carousel.team .nav > div:hover i {
	color: #ff5400;
}
.st-content-showcase-carousel.team .nav > div.prev {
	left: 0;
}
.st-content-showcase-carousel.team .nav > div.next {
	right: 0;
}
.st-content-showcase-carousel.team .nav {
	width: auto;
	position: relative;
	height: 56px;
	margin: 50px 0;
}
.st-content-showcase-carousel.team .nav:before {
	content: '';
	display: block;
	background: url(team/team-icon.png);
	width: 56px;
	height: 56px;
	position: absolute;
	overflow: visible;
	visibility: visible;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 4;
	top: -1px;
}
.st-content-showcase-carousel.team .nav:after {
	content: '';
	display: block;
	height: 1px;
	background: #ddd;
	position: absolute;
	overflow: visible;
	visibility: visible;
	width: 100%;
	top: 28px;
	z-index: 3;
}
