
.button2-left .editor_button {
	background: url(../images/icon-button.png) 100% 0 no-repeat;
}

.icon-editor_button {
	background: url(../images/icon-16-mijoshop.png) 100% 0 no-repeat !important;
}