<?php if ($checkout_method == 'iframe') { ?>
    <iframe name="hss_iframe" width="800px" height="540px" style="border:0px solid #DDDDDD; margin-left:10px;" scrolling="no" src="<?php echo HTTPS_SERVER.'index.php?option=com_mijoshop&format=raw&tmpl=component&route=payment/pp_pro_iframe/create'; ?>"></iframe>
<?php } else { ?>
    
    <?php if (!$error_connection) { ?>
    <form action="<?php echo $url; ?>" method="post" name="ppform" id="ppform">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="<?php echo $code; ?>">
    </form>
    <script type="text/javascript"><!--
    $('#ppform').submit();
    //--></script>
    <?php } else { ?>
    
    <div class="warning"><?php echo $error_connection ?></div>
    
    <?php } ?>
<?php } ?>
