html, body {
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

/* GLOBAL */
.clearbreak{
	clear: both;
}

/* POS STICK */
.avatar-position-stick{
	position: fixed;
}
#avatar-position-stick-right-top{
	top: 0;
	right: 0;
}
#avatar-position-stick-right-middle{
	top: 50%;
	right: 0;
}
#avatar-position-stick-right-bottom{
	right: 0;
	bottom: 0;
}
#avatar-position-stick-left-top{
	top: 0;
	left: 0;
}
#avatar-position-stick-left-middle{
	top: 50%;
	left: 0;
}
#avatar-position-stick-left-bottom{
	left: 0;
	bottom: 0;
}
#avatar-position-fixed-1{
	left: 0;
	top: 30%
}
#avatar-position-fixed-2{
	right: 0;
	top: 30%
}

/* HEADER */
div[id*="avatar-pos-top"] {
	float: left;
	width: 33.33%;
}

/* PROMO */
div[id*="avatar-pos-promo-top-"],
div[id*="avatar-pos-promo-bottom-"]  {
	float: left;
	width: 33.33%;
}

/* USER */
#avatar-user-top-col-3 div[id*="avatar-pos-user-"] ,
#avatar-user-bottom-col-3 div[id*="avatar-pos-user-"] {
	float: left;
	width: 33.33%;
}
#avatar-user-middle-col-2 div[id*="avatar-pos-user-"] {
	float: left;
	width: 50%;
}
#avatar-user-bottom-col-4 div[id*="avatar-pos-user-"],
#avatar-user-top-col-4 div[id*="avatar-pos-user-"] {
	float: left;
	width: 25%;
}
/* BODY */
/* LEFT - CONTENT - RIGHT */
body:not(.st-page-hello) #avatar-body-middle-block {
	position: relative;
	margin: 190px 0 0 0;
	/*background: url(//templates/st_metanic/backgrounds/bg1.jpg) no-repeat center center fixed;*/
	background: rgba(0, 0, 0, 0.6);
	padding-bottom:5%; 
}

#avatar-left, #avatar-right {
	height: auto;
}
#avatar-left, #avatar-content, #avatar-right {
	float:left;
}
#avatar-pos-content-user-1,
#avatar-pos-content-user-2,
#avatar-pos-content-user-3,
#avatar-pos-content-user-4 {
	float: left;
	width: 50%;
}
#avatar-pos-inner-left,
#avatar-pos-inner-right,
#avatar-main-content {
	float: left;
}
/* LEFT RIGHT */
div[id*="avatar-pos-left-middle-"],
div[id*="avatar-pos-right-middle-"] {
	float: left;
	width: 50%;
}

/* FOOTER */
div[id*="avatar-pos-footer-"] {
	float: left;
	width: 33%;
}
div[id*="avatar-pos-footer-number-"] {
	float: left;
	width: 16.6%;
}
/* RIGHT COLS */
#avatar-pos-top-right, #avatar-pos-promo-top-right, #avatar-pos-promo-bottom-right, #avatar-pos-footer-right{
	float: right;
}

/* COPY RIGHT*/
#avatar-template-copyright {
	position: fixed;
	left: 10px;
	bottom: 30px;
	z-index: 9999;
	border: 1px solid #ccc;	
	background: #fff;
	padding: 5px 8px;
}
#avatar-template-copyright a{
	font-weight: bold;
}
#avatar-settings {
	position: fixed;
	z-index: 999;
	top: 20%;
	left: -172px;
	width: 140px;
	padding: 16px;
	background: #fff;
}
#avatar-settings .color-image .item, 
#avatar-settings .bg-image .item {
	display: block;
	width: 29px;
	height: 29px;
	position: relative;
	float: left;
	margin: 0 4px 4px 0;
	cursor: pointer;
	box-shadow: inset 0px 0px 3px #000;
}
#avatar-settings h3 {
	font-size: 13px;
	margin: 0;
	padding: 2px 0 10px;
	display: inline;
	color: #161616;
	line-height: 23px;
}
#avatar-settings .showcases {
	width: 128px;
}
#avatar-settings #close {
	background: url(../images/site/close.png) no-repeat center center;
	width: 79px;
	height: 64px;
	position: absolute;
	right: -65px;
	top: -4px;
	cursor: pointer;
}
body .block-max-width-100 {
	width: 100%;
}
#avatar-settings .picker-color {
	width: 100px;
}
