/*
 * CORE LAYOUT - Responsive
 */
@media (max-width: 1024px)
{
	body.avatar-responsive .avatar-wrapper {
		width: 100% !important;
	}
	body.avatar-responsive #avatar-pos-main-body{
		margin-left:10px;
		margin-right:10px;
	}
	body.avatar-responsive .avatar-module {
		margin-left:10px;
		margin-right:10px;
	}
	/*
	 * Hidden position
	 */
	 body.avatar-responsive *[id*="avatar-position-stick"],
	 body.avatar-responsive *[id*="avatar-position-fixed"] {
	 	display: none;
	 }
}
@media (max-width: 768px)
{
	/*
	 * Module
	 */
	body.avatar-responsive #avatar-pos-main-body {
		margin: 0 10px;
	}
	
	body.avatar-responsive .avatar-module {
		margin-left:10px;
		margin-right:10px;
	}
	/*
	 * main content to 1 cols
	 */
	body.avatar-responsive #avatar-left,
	body.avatar-responsive #avatar-content,
	body.avatar-responsive #avatar-right,
	body.avatar-responsive #avatar-pos-inner-left,
	body.avatar-responsive #avatar-main-content,
	body.avatar-responsive #avatar-pos-inner-right {
		width: 100% !important;
		float: none !important;
	}
	
	/*
	  * more than 3 cols -> to 1 cols
	  */
	 
	 body.avatar-responsive *[id*="avatar-pos-top"],
	 body.avatar-responsive *[id*="avatar-pos-promo-top"],
	 body.avatar-responsive *[id*="avatar-pos-user"],
	 body.avatar-responsive *[id*="avatar-pos-promo-bottom"],
	 body.avatar-responsive *[id*="avatar-pos-footer"] {
	 	float: none !important;
	 	width: 100% !important;
	 }
}
@media (max-width: 480px)
{
	/*
	 * 2 cols to 1 col
	 */
	body.avatar-responsive *[id*="avatar-pos-left-middle"],
	body.avatar-responsive *[id*="avatar-pos-right-middle"] {
		width: 100% !important;
		float: left !important;
	}		
}